body {
  margin: 0;
  padding: 0;
  font-family: Roboto; }

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 128px;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff; }
  header .container {
    width: 1350px; }
  header .progressContainer {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%; }
  header .progress {
    height: 5px;
    background: #e0d2b1;
    width: 0;
    transition: width 0.5s; }
  header #logo {
    padding: 15px 0 0 0; }
  header #logo img {
    width: 250px; }
  header nav {
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: roboto;
    font-weight: bold; }
    header nav ul li {
      display: inline-block;
      list-style-type: none;
      padding: 11px 13px;
      font-size: 18px;
      letter-spacing: 2px; }
      header nav ul li a {
        text-decoration: none;
        color: inherit; }
  header #headersocial {
    padding: 50px 0 0 0; }
    header #headersocial img {
      width: 30px; }

/* MAIN */
main {
  /* HISTOIRE */
  /* RESTAURANT */
  /* BAR */
  /*L'ECAILLE */
  /* 1935 */
  /* 2000 */
  /* 2006 */
  /* 2017 */ }
  main section:first-child {
    background: url("../images/facade2.jpg") no-repeat;
    background-size: 100% 70%;
    background-attachment: fixed;
    height: 500px; }
    main section:first-child #headerdesc {
      padding: 185px 0px; }
    main section:first-child h1 {
      font-size: 60px;
      color: #FFF;
      z-index: 2;
      font-family: Montserrat;
      margin: 0 auto;
      padding: 20px 0; }
    main section:first-child button {
      border: 2px solid #ffffff;
      z-index: 2;
      margin: 0 auto;
      background-color: transparent; }
      main section:first-child button a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    main section:first-child button:hover {
      background-color: #6B614D;
      color: #fff; }
      main section:first-child button:hover a {
        color: #fff; }
  main section:nth-child(2) {
    padding: 72px 0;
    background-color: #FFF; }
    main section:nth-child(2) svg {
      font-weight: bold;
      max-width: 500px;
      height: auto;
      margin-bottom: 3%;
      margin-left: 6%;
      font-family: Montserrat; }
    main section:nth-child(2) img {
      width: auto;
      height: 380px; }
    main section:nth-child(2) h3 {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    main section:nth-child(2) h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 36px;
      text-transform: uppercase;
      font-size: 40px; }
    main section:nth-child(2) .title {
      font-size: 20px;
      margin-bottom: 6%;
      line-height: 30px; }
    main section:nth-child(2) .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px; }
    main section:nth-child(2) button {
      border: 2px solid #6B614D;
      background-color: transparent;
      position: absolute;
      right: 15px; }
      main section:nth-child(2) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
    main section:nth-child(2) button:hover {
      background-color: #6B614D;
      color: #fff; }
      main section:nth-child(2) button:hover a {
        color: #fff; }
  main section:nth-child(3) {
    padding: 72px 0;
    background-color: #FFF; }
    main section:nth-child(3) svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      margin-bottom: 3%;
      font-family: Montserrat; }
    main section:nth-child(3) img {
      width: auto;
      height: 380px; }
    main section:nth-child(3) h3 {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0 0 20px 40px; }
    main section:nth-child(3) h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 36px;
      text-transform: uppercase;
      font-size: 40px; }
    main section:nth-child(3) .title {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 4.7% 40px; }
    main section:nth-child(3) .desc {
      font-size: 15px;
      line-height: 35px;
      margin: 0 0 24px 40px; }
    main section:nth-child(3) button {
      border: 2px solid #6B614D;
      background-color: transparent;
      margin-left: 40px; }
      main section:nth-child(3) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
    main section:nth-child(3) button:hover {
      background-color: #6B614D;
      color: #fff; }
      main section:nth-child(3) button:hover a {
        color: #fff; }
  main section:nth-child(4) {
    padding: 72px 0;
    background-color: #FFF; }
    main section:nth-child(4) svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      margin-bottom: 3%;
      margin-left: 24%;
      font-family: Montserrat; }
    main section:nth-child(4) img {
      width: auto;
      height: 380px; }
    main section:nth-child(4) h3 {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    main section:nth-child(4) h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 36px;
      text-transform: uppercase;
      font-size: 40px; }
    main section:nth-child(4) .title {
      font-size: 20px;
      margin-bottom: 6%;
      line-height: 30px; }
    main section:nth-child(4) .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px; }
    main section:nth-child(4) button {
      border: 2px solid #6B614D;
      background-color: transparent;
      position: absolute;
      right: 15px; }
      main section:nth-child(4) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
    main section:nth-child(4) button:hover {
      background-color: #6B614D;
      color: #fff; }
      main section:nth-child(4) button:hover a {
        color: #fff; }
  main section:nth-child(5) {
    padding: 72px 0;
    background-color: #FFF; }
    main section:nth-child(5) svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      margin-left: 28%;
      font-family: Montserrat;
      margin: 9% 0 3% 28%; }
    main section:nth-child(5) h3 {
      font-size: 15px;
      line-height: 35px; }
  main section:nth-child(6) {
    padding: 72px 0;
    background-color: #FFF; }
    main section:nth-child(6) svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      margin-left: -28px;
      font-family: Montserrat;
      margin: 8% 0 3% -28px; }
    main section:nth-child(6) h3 {
      font-size: 15px;
      line-height: 35px; }
  main section:nth-child(7) {
    padding: 72px 0;
    background-color: #FFF; }
    main section:nth-child(7) svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      font-family: Montserrat;
      margin: 7% 0 3% 3%; }
    main section:nth-child(7) h3 {
      font-size: 15px;
      line-height: 35px; }
  main section:last-child {
    padding: 72px 0;
    background-color: #FFF; }
    main section:last-child svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      font-family: Montserrat;
      margin: 12% 0 3% 0; }
    main section:last-child h3 {
      font-size: 15px;
      line-height: 35px; }

/* FOOTER */
footer {
  margin: 1.5% 0%; }
  footer img {
    width: 145px; }
  footer input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .btn-credits {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0e2046;
    padding: 3.5%; }
  footer .form-newsletter {
    display: inline-block;
    position: relative;
    margin: 3px 25px 0 0; }
  footer .form-newsletter label {
    text-transform: uppercase;
    color: #7b7b7b;
    margin-right: 22px;
    font-size: 13px; }
  footer .form-newsletter input.input-text {
    padding: 14px 14px 14px 19px;
    width: auto; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .border-newsletter {
    display: inline-block;
    width: 1px;
    height: 20px;
    padding: 14px 0;
    margin: 0 0 0 -3px; }
  footer .form-newsletter input.btn-submit {
    cursor: pointer;
    color: #040404;
    margin-left: -2px;
    margin-top: 0px; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .form-message.valid {
    color: #145214; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.valid-error, footer footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }

/*# sourceMappingURL=about.css.map */
