body {
  margin: 0;
  padding: 0;
  font-family: Roboto; }

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 128px;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff; }
  header .container {
    width: 1350px; }
  header .progressContainer {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%; }
  header .progress {
    height: 5px;
    background: #e0d2b1;
    width: 0;
    transition: width 0.5s; }
  header #logo {
    padding: 15px 0 0 0; }
  header #logo img {
    width: 250px; }
  header nav {
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: roboto;
    font-weight: bold; }
    header nav ul li {
      display: inline-block;
      list-style-type: none;
      padding: 11px 13px;
      font-size: 18px;
      letter-spacing: 2px; }
      header nav ul li a {
        text-decoration: none;
        color: inherit; }
  header #headersocial {
    padding: 50px 0 0 0; }
    header #headersocial img {
      width: 30px; }

/* MAIN */
main {
  margin-bottom: 3.5%;
  /* BOOK A TABLE */
  /* FORM TEXT */
  /* FORM */ }
  main section:first-child {
    background: url("../images/interieur2.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px; }
    main section:first-child h1 {
      font-family: Montserrat;
      font-size: 60px;
      color: #FFF;
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 684px; }
    main section:first-child button {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      main section:first-child button a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
  main section:nth-child(2) {
    padding: 72px 0;
    background-color: #FFF; }
    main section:nth-child(2) svg {
      font-weight: bold;
      max-width: 450px;
      height: auto;
      margin-bottom: 3%;
      margin-left: -16px;
      font-family: Montserrat; }
    main section:nth-child(2) h3 {
      font-size: 17px;
      line-height: 35px; }
  main section:nth-child(3) {
    background-color: #FFF; }
    main section:nth-child(3) h3 {
      font-size: 27px;
      text-transform: uppercase;
      padding: 8% 0%;
      text-align: center; }
    main section:nth-child(3) p {
      font-size: 15px;
      text-transform: uppercase;
      line-height: 30px;
      text-align: center; }
    main section:nth-child(3) input, main section:nth-child(3) textarea {
      border: 2px solid;
      border-color: #6b97ac;
      background-color: transparent;
      padding: 19px 16px;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
      font-size: 14px;
      font-weight: 900;
      color: #333333;
      width: 100%;
      height: 55px;
      margin: 0;
      text-overflow: ellipsis;
      text-align: center;
      outline: none; }
    main section:nth-child(3) input {
      margin: 8px 0px; }
    main section:nth-child(3) textarea {
      height: 103px; }

/* FOOTER */
footer {
  margin: 1.5% 0%; }
  footer img {
    width: 145px; }
  footer input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .btn-credits {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0e2046;
    padding: 3.5%; }
  footer .form-newsletter {
    display: inline-block;
    position: relative;
    margin: 3px 25px 0 0; }
  footer .form-newsletter label {
    text-transform: uppercase;
    color: #7b7b7b;
    margin-right: 22px;
    font-size: 13px; }
  footer .form-newsletter input.input-text {
    padding: 14px 14px 14px 19px;
    width: auto; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .border-newsletter {
    display: inline-block;
    width: 1px;
    height: 20px;
    padding: 14px 0;
    margin: 0 0 0 -3px; }
  footer .form-newsletter input.btn-submit {
    cursor: pointer;
    color: #040404;
    margin-left: -2px;
    margin-top: 0px; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .form-message.valid {
    color: #145214; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.valid-error, footer footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }

/*# sourceMappingURL=booking.css.map */
