* {
  margin: 0;
  padding: 0; }

/* HEADER */
header {
  width: 100%;
  min-height: 106px;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 3;
  margin-left: auto;
  margin-right: auto; }
  header #logo {
    float: left;
    padding: 10px 52px; }
  header nav {
    font-family: Quicksand;
    color: #fff;
    font-size: 18px;
    width: 70%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    padding: 20px 0; }
    header nav ul li {
      display: inline-block;
      list-style-type: none;
      padding: 20px 20px;
      font-size: 19px;
      color: #fff; }
      header nav ul li a {
        text-decoration: none;
        color: inherit; }

/* MAIN */
main {
  /* SWIPER HEADER*/
  /* BOXES */
  /* ABOUT */
  /* DELIVER */
  /* MENU */
  /* OPEN HOURS */
  /* ABOUT */ }
  main section:first-child {
    position: relative; }
    main section:first-child h1 {
      font-family: Montserrat;
      color: #ffffff;
      font-size: 90px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
    main section:first-child h2 {
      font-family: Montserrat;
      font-size: 30px;
      color: white;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
    main section:first-child button {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      main section:first-child button a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    main section:first-child .fixed {
      background-attachment: fixed; }
    main section:first-child .swiper-container {
      height: auto;
      width: 100%; }
    main section:first-child .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    main section:first-child .swiper-slide img {
      width: 100%; }
  main section:nth-child(2) {
    background-color: #F4F4F4;
    padding: 75px 0;
    font-family: Montserrat; }
    main section:nth-child(2) .small-feature-icon {
      float: left;
      display: block;
      margin-top: 13px; }
    main section:nth-child(2) .small-feature-desc {
      margin-left: 75px; }
      main section:nth-child(2) .small-feature-desc p {
        padding-top: 15px;
        font-size: 14px;
        line-height: 24px; }
    main section:nth-child(2) h3 {
      font-size: 27px;
      text-transform: uppercase; }
  main section:nth-child(3) {
    padding: 72px 0;
    background-color: #FFF;
    font-family: Montserrat; }
    main section:nth-child(3) svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      margin-bottom: 3%;
      margin-left: -16px; }
    main section:nth-child(3) img {
      width: auto;
      height: 380px; }
    main section:nth-child(3) h3 {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    main section:nth-child(3) h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 36px;
      text-transform: uppercase;
      font-size: 40px; }
    main section:nth-child(3) .title {
      font-size: 22px;
      margin-bottom: 6%;
      line-height: 30px; }
    main section:nth-child(3) .desc {
      font-size: 17px;
      line-height: 35px;
      margin-bottom: 24px; }
    main section:nth-child(3) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(3) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(4) {
    background: url("../images/ecaille5.jpg") no-repeat;
    background-color: white;
    background-attachment: fixed !important;
    background-size: cover;
    height: 350px;
    padding: 90px 0;
    color: #fff;
    font-family: Montserrat;
    position: relative; }
    main section:nth-child(4) .container {
      margin-top: 33px; }
    main section:nth-child(4) h3 {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 40px; }
    main section:nth-child(4) p {
      line-height: 30px; }
    main section:nth-child(4) img {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, -150%); }
  main section:nth-child(5) {
    background-color: #F4F4F4;
    padding: 54px 0;
    height: 1000px;
    font-family: Montserrat;
    width: 100%;
    /*h2 {
    	position: relative;
        display: inline-block;
        margin-bottom: 36px;
        text-transform: uppercase;
        font-size: 40px;
    }*/ }
    main section:nth-child(5) svg {
      font-weight: bold;
      max-width: 480px;
      height: auto; }
    main section:nth-child(5) img:first-child {
      position: absolute;
      top: 21%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      color: #ffffff;
      width: 85px; }
    main section:nth-child(5) img:last-child {
      background-size: cover;
      height: 310px;
      width: inherit; }
    main section:nth-child(5) .menuhover {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 2;
      opacity: 0.8; }
    main section:nth-child(5) h3 {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    main section:nth-child(5) h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      font-size: 50px;
      color: #fff;
      font-weight: lighter;
      letter-spacing: 10px; }
    main section:nth-child(5) p:last-child {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 24px; }
    main section:nth-child(5) button {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 71%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      main section:nth-child(5) button a {
        text-decoration: none;
        color: #fff;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
    main section:nth-child(5) button:hover {
      background-color: #000;
      color: #fff; }
  main section:nth-child(6) {
    background: url("../images/interieur1.jpg") no-repeat;
    background-color: white;
    background-attachment: fixed !important;
    background-size: cover;
    height: 350px;
    padding: 90px 0;
    font-family: Montserrat;
    color: white; }
    main section:nth-child(6) h2 {
      font-size: 45px;
      margin-bottom: 4%; }
    main section:nth-child(6) p {
      font-size: 27px;
      padding: 16px 0px; }
  main section:nth-child(7) {
    padding: 72px 0;
    background-color: #FFF;
    font-family: Montserrat; }
    main section:nth-child(7) svg {
      font-weight: bold;
      max-width: 400px;
      height: auto;
      margin-bottom: 3%; }
    main section:nth-child(7) img {
      width: auto;
      height: 380px; }
    main section:nth-child(7) h3 {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0 0 20px 40px; }
    main section:nth-child(7) h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 36px;
      text-transform: uppercase;
      font-size: 40px; }
    main section:nth-child(7) .title {
      font-size: 22px;
      line-height: 30px;
      margin: 0 0 6% 40px; }
    main section:nth-child(7) .desc {
      font-size: 17px;
      line-height: 35px;
      margin: 0 0 24px 40px; }
    main section:nth-child(7) button {
      border: 2px solid #000000;
      background-color: transparent;
      margin-left: 40px; }
      main section:nth-child(7) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }

/* FOOTER */
footer {
  height: 350px;
  background-color: #4c4444;
  color: #fff; }
  footer .row div:first-child {
    position: relative;
    font-family: Montserrat; }
    footer .row div:first-child h4 {
      position: absolute;
      top: 40%;
      left: 8%;
      line-height: 26px;
      font-size: 18px; }
    footer .row div:first-child p {
      position: absolute;
      top: 47%;
      left: 54%;
      font-size: 22px; }
    footer .row div:first-child button:first-child {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      footer .row div:first-child button:first-child a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    footer .row div:first-child button:nth-child(2) {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 78%;
      left: 81%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      footer .row div:first-child button:nth-child(2) a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    footer .row div:first-child img {
      position: absolute;
      top: 7%;
      left: 39%; }
  footer .row div:last-child {
    padding-right: 0px; }

/*# sourceMappingURL=main.css.map */
