body {
  margin: 0;
  padding: 0;
  font-family: roboto; }

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 128px;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff; }
  header .container {
    width: 1350px; }
  header #logo {
    padding: 15px 0 0 0; }
  header #logo img {
    width: 250px; }
  header nav {
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: roboto;
    font-weight: bold; }
    header nav ul li {
      display: inline-block;
      list-style-type: none;
      padding: 11px 13px;
      font-size: 18px;
      letter-spacing: 2px; }
      header nav ul li a {
        text-decoration: none;
        color: inherit; }
  header #headersocial {
    padding: 50px 0 0 0; }
    header #headersocial img {
      width: 30px; }

/* MAIN */
main {
  /* LA MASCOTTE RESTAURANT BRASSERIE */
  /* BOXES */
  /* ABOUT */
  /* MENU */ }
  main #header {
    height: 100%;
    background: url("../images/swiper2.jpg") no-repeat;
    background-size: cover;
    letter-spacing: 9px;
    font-family: Montserrat; }
    main #header h1 {
      color: #fff;
      z-index: 2;
      font-size: 5em;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%); }
    main #header h2 {
      font-size: 30px;
      color: white;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2; }
    main #header button {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      main #header button a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    main #header .fixed {
      background-attachment: fixed; }
    main #header .swiper-container {
      height: auto;
      width: 100%; }
    main #header .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    main #header .swiper-slide img {
      width: 100%; }
  main section:nth-child(2) {
    background-color: #F4F4F4;
    padding: 60px 0;
    font-family: roboto; }
    main section:nth-child(2) .container {
      width: 90%; }
    main section:nth-child(2) img {
      width: 76%;
      margin-left: 45px; }
    main section:nth-child(2) span {
      font-size: 22px;
      font-weight: bold; }
    main section:nth-child(2) p {
      line-height: 36px;
      padding-top: 32px;
      font-weight: 100;
      font-size: 17px; }
  main #about {
    background-color: #FFF;
    padding: 15px 0; }
    main #about svg {
      font-weight: bold;
      height: auto;
      margin-bottom: 3%;
      margin-left: 26%;
      font-size: 14px; }
    main #about img {
      width: 100%;
      height: 380px; }
    main #about h3 {
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 3% 40px 4% 0; }
    main #about h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 36px;
      text-transform: uppercase;
      font-size: 40px; }
    main #about .title {
      font-size: 20px;
      margin-bottom: 6%;
      line-height: 30px;
      margin: 0 43px 0 6%; }
    main #about .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px;
      margin: 0 42px 24px 0; }
    main #about .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto; }
    main #about .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
    main #about button {
      border: 2px solid #000000;
      background-color: transparent;
      position: absolute;
      right: 60px; }
      main #about button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main #ecaille {
    background-color: #FFF;
    padding: 15px 0; }
    main #ecaille svg {
      font-weight: bold;
      height: auto;
      margin-bottom: 3%;
      margin-left: 3%;
      font-size: 12px; }
    main #ecaille img {
      height: 380px;
      width: 100%; }
    main #ecaille h3 {
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0 0 9px 40px; }
    main #ecaille h2 {
      position: relative;
      display: inline-block;
      margin-bottom: 36px;
      text-transform: uppercase;
      font-size: 40px; }
    main #ecaille .title {
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 4% 7%; }
    main #ecaille .desc {
      font-size: 15px;
      line-height: 35px;
      margin: 0 0 24px 40px; }
    main #ecaille .swiper-container {
      width: 100%;
      height: 100%;
      margin-left: auto;
      margin-right: auto; }
    main #ecaille .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
    main #ecaille button {
      border: 2px solid #000000;
      background-color: transparent;
      margin-left: 40px; }
      main #ecaille button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main #menuu {
    background-color: #fff;
    padding: 54px 0;
    width: 100%;
    /*h2 {
    	position: relative;
        display: inline-block;
        margin-bottom: 36px;
        text-transform: uppercase;
        font-size: 40px;
    }*/ }
    main #menuu svg {
      font-family: montserrat;
      font-weight: bold;
      max-width: 480px;
      height: auto; }
    main #menuu img:first-child {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      color: #ffffff;
      width: 55px; }
    main #menuu img:last-child {
      height: 310px;
      width: inherit; }
    main #menuu .menuhover {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 2;
      opacity: 0.8; }
    main #menuu h3 {
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    main #menuu h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      font-size: 35px;
      color: #fff;
      font-weight: lighter;
      letter-spacing: 10px;
      font-family: montserrat; }
    main #menuu p:last-child {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 24px; }
    main #menuu button {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 71%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      main #menuu button a {
        text-decoration: none;
        color: #fff;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
    main #menuu button:hover {
      background-color: #000;
      color: #fff; }

/* FOOTER */
footer {
  height: 350px;
  background-color: #4c4444;
  color: #fff; }
  footer .row div:first-child {
    position: relative; }
    footer .row div:first-child h4 {
      position: absolute;
      top: 40%;
      left: 8%;
      line-height: 26px;
      font-size: 18px; }
    footer .row div:first-child p {
      position: absolute;
      top: 47%;
      left: 54%;
      font-size: 22px; }
    footer .row div:first-child button:first-child {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 78%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      footer .row div:first-child button:first-child a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    footer .row div:first-child button:nth-child(2) {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 78%;
      left: 81%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      footer .row div:first-child button:nth-child(2) a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    footer .row div:first-child img {
      position: absolute;
      top: 7%;
      left: 39%; }
  footer .row div:last-child {
    padding-right: 0px; }

/*# sourceMappingURL=main.css.map */
