body {
  margin: 0;
  padding: 0;
  font-family: roboto; }
  body .button {
    position: relative;
    display: block;
    color: inherit;
    outline: 0;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale; }
  body .button--nina {
    border: 2px solid #ffffff;
    z-index: 2;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    overflow: hidden;
    font-family: Roboto;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    padding: 4px 28px;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    outline: 0; }
    body .button--nina span {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      display: inline-block;
      text-transform: uppercase; }
  body .button--nina.button--inverted {
    background-color: #6B614D;
    color: #fff; }
  body .button--nina > span {
    display: inline-block;
    padding: 1em 0;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  body .button--nina::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  body .button--nina:hover {
    background-color: #6b614d; }
  body .button--nina:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  body .button--nina:hover > span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  body .button--nina:hover > span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s; }
  body .button--nina:hover > span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s; }
  body .button--nina:hover > span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.135s; }
  body .button--nina:hover > span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s; }
  body .button--nina:hover > span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s; }
  body .button--nina:hover > span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s; }
  body .button--nina:hover > span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.315s; }
  body .button--nina:hover > span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s; }
  body .button--nina:hover > span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.405s; }
  body .button--nina:hover > span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s; }
  body .button--nina:hover > span:nth-child(11) {
    -webkit-transition-delay: 0.495s;
    transition-delay: 0.49 0.5s; }
  body .button--nina:hover > span:nth-child(12) {
    -webkit-transition-delay: 0.54s;
    transition-delay: 0.54s; }
  body .button--nina:hover > span:nth-child(13) {
    -webkit-transition-delay: 0.585s;
    transition-delay: 0.58 0.5s; }
  body .button--nina:hover > span:nth-child(14) {
    -webkit-transition-delay: 0.63s;
    transition-delay: 0.63s; }
  body button, body html input[type="button"], body input[type="reset"], body input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }
  body button, body select {
    text-transform: none; }
  body button, body input {
    line-height: normal; }
  body button, body input, body select, body textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0; }

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 128px;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  /*Hover effect*/ }
  header .progressContainer {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%; }
  header .progress {
    height: 5px;
    background: #e0d2b1;
    width: 0;
    transition: width 0.5s; }
  header #logo {
    padding: 15px 0 0 0; }
  header #logo img {
    width: 250px; }
  header nav {
    padding: 48px 0px 0px 0px;
    text-align: center;
    font-family: roboto; }
    header nav ul li {
      display: inline-block;
      list-style-type: none;
      padding: 11px 13px;
      font-size: 18px;
      letter-spacing: 2px; }
      header nav ul li a {
        text-decoration: none;
        color: inherit;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        position: relative; }
        header nav ul li a :hover, header nav ul li a :focus {
          outline: none; }
  header .hover-effect a {
    padding: 10px 0 10px 0;
    color: #fff;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
  header .hover-effect a::before,
  header .hover-effect a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  header .hover-effect a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  header .hover-effect a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  header .hover-effect a:hover,
  header .hover-effect a:focus {
    color: #fff; }
  header .hover-effect a:hover::before,
  header .hover-effect a:focus::before,
  header .hover-effect a:hover::after,
  header .hover-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  header #headersocial {
    padding: 50px 0 0 0; }
    header #headersocial img {
      width: 30px; }

/*MOBILE NAV*/
.mobile-nav {
  position: fixed;
  bottom: 0;
  z-index: 9;
  height: 64px;
  width: 100%;
  font-size: 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #6B614D;
  display: none; }
  .mobile-nav img {
    width: 24px; }
  .mobile-nav .btn {
    height: 100%;
    width: 100%;
    border-radius: 0px; }
  .mobile-nav .btn-accueil {
    border-right: 1px solid #fff;
    background-color: #e0d2b1; }
    .mobile-nav .btn-accueil img {
      width: 20px;
      padding-top: 5px; }
  .mobile-nav .btn-about {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-about img {
      width: 21px;
      padding-top: 6px; }
  .mobile-nav .btn-menu {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-menu img {
      width: 30px;
      padding-top: 8px; }
  .mobile-nav .btn-booking {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-booking img {
      width: 21px;
      padding-top: 5px; }
  .mobile-nav .btn-delivery {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-delivery img {
      width: 25px;
      padding-top: 7px; }
  .mobile-nav .btn-contact img {
    width: 17px;
    padding-top: 4px; }
  .mobile-nav .text {
    font-size: 10px;
    bottom: 8px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* MAIN */
main {
  /* LA MASCOTTE RESTAURANT BRASSERIE */
  /* DESCRIPTION */
  /* SWIPER RESTAURANT */
  /* MENU */
  /* SWIPER ABOUT */
  /* GOOOGLE MAP API*/ }
  main section:first-child {
    background: url("../images/swiper2.jpg") no-repeat;
    background-size: cover;
    letter-spacing: 9px;
    font-family: Montserrat; }
    main section:first-child #headerdesc {
      padding: 255px 0px; }
    main section:first-child h1 {
      color: #fff;
      z-index: 2;
      font-size: 80px;
      width: 83%;
      text-align: center;
      margin: 0 auto;
      font-weight: 500; }
    main section:first-child h2 {
      font-size: 30px;
      color: white;
      z-index: 2;
      margin: 0 auto;
      padding: 35px 0; }
    main section:first-child .fixed {
      background-attachment: fixed; }
    main section:first-child .swiper-container {
      height: auto;
      width: 100%; }
    main section:first-child .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    main section:first-child .swiper-slide img {
      width: 100%; }
    main section:first-child a {
      margin: 0 auto; }
  main section:nth-child(2) {
    background-color: #F4F4F4;
    padding: 60px 0;
    font-family: roboto; }
    main section:nth-child(2) img {
      width: 76%;
      margin-left: 45px; }
    main section:nth-child(2) span {
      font-size: 20px;
      font-weight: bold; }
    main section:nth-child(2) p {
      line-height: 36px;
      padding-top: 32px;
      font-weight: 100;
      font-size: 17px; }
  main section:nth-child(3) #swiperrestaurant {
    height: 670px; }
    main section:nth-child(3) #swiperrestaurant .next {
      background: url("../images/arrowright.svg") no-repeat;
      background-size: 100% 100%; }
    main section:nth-child(3) #swiperrestaurant .prev {
      background: url("../images/arrowleft.svg") no-repeat;
      background-size: 100% 100%; }
  main section:nth-child(4) {
    background-color: #fff;
    width: 100%;
    margin: 5% 0; }
    main section:nth-child(4) .button--nina {
      padding: 3.5px 28px;
      color: #fff;
      font-size: 14px; }
      main section:nth-child(4) .button--nina span {
        font-size: 12px; }
    main section:nth-child(4) svg {
      font-family: montserrat;
      font-weight: bold;
      max-width: 480px;
      height: auto; }
    main section:nth-child(4) img:first-child {
      position: absolute;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      color: #ffffff;
      width: 55px; }
    main section:nth-child(4) img:last-child {
      height: 350px;
      width: inherit; }
    main section:nth-child(4) .menuhover {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 2;
      opacity: 0.9; }
    main section:nth-child(4) h3 {
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px; }
    main section:nth-child(4) h2 {
      position: absolute;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      font-size: 35px;
      color: #fff;
      font-weight: lighter;
      letter-spacing: 10px;
      font-family: montserrat; }
    main section:nth-child(4) p:last-child {
      font-size: 15px;
      font-style: italic;
      margin-bottom: 24px; }
    main section:nth-child(4) button {
      border: 2px solid #ffffff;
      z-index: 2;
      position: absolute;
      top: 61%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent; }
      main section:nth-child(4) button a {
        text-decoration: none;
        color: #fff;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
    main section:nth-child(4) button:hover {
      background-color: #556147;
      color: #fff; }
      main section:nth-child(4) button:hover a {
        color: #fff; }
    main section:nth-child(4) a {
      margin: 0 auto; }
  main section:nth-child(5) {
    height: 470px;
    /* LA MASCOTTE */
    /* L'ECAILLE*/ }
    main section:nth-child(5) .next {
      background: url(../images/arrowright.svg) no-repeat;
      background-size: 100% 100%;
      top: 42%; }
    main section:nth-child(5) .prev {
      background: url(../images/arrowleft.svg) no-repeat;
      background-size: 100% 100%;
      top: 42%; }
    main section:nth-child(5) .button--nina {
      padding: 3.5px 28px;
      color: #6B614D;
      font-size: 14px; }
      main section:nth-child(5) .button--nina span {
        font-size: 12px; }
    main section:nth-child(5) #about {
      background-color: #FFF;
      padding: 15px 0; }
      main section:nth-child(5) #about svg {
        font-weight: bold;
        height: auto;
        margin-bottom: 3%;
        margin-left: 26%;
        font-size: 14px; }
      main section:nth-child(5) #about img {
        width: 100%;
        height: 380px; }
      main section:nth-child(5) #about h3 {
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 3% 40px 9px 0; }
      main section:nth-child(5) #about h2 {
        position: relative;
        display: inline-block;
        margin-bottom: 36px;
        text-transform: uppercase;
        font-size: 40px; }
      main section:nth-child(5) #about .title {
        font-size: 20px;
        margin-bottom: 6%;
        line-height: 30px;
        margin: 0 7% 4% 0%; }
      main section:nth-child(5) #about .desc {
        font-size: 15px;
        line-height: 35px;
        margin-bottom: 24px;
        margin: 0 42px 24px 0; }
      main section:nth-child(5) #about .swiper-container {
        width: 100%;
        height: 100%; }
      main section:nth-child(5) #about .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
      main section:nth-child(5) #about button {
        background-color: transparent;
        float: right;
        margin-right: 41px;
        color: #6b6148;
        font-size: 14px;
        border: 2px solid #6B6148; }
        main section:nth-child(5) #about button a {
          text-decoration: none;
          color: #000;
          font-size: 11px;
          letter-spacing: 2px;
          font-weight: initial;
          display: inline-block;
          text-transform: uppercase;
          padding: 14px 28px; }
      main section:nth-child(5) #about button:hover {
        background-color: #6B614D;
        color: #fff; }
        main section:nth-child(5) #about button:hover a {
          color: #fff; }
    main section:nth-child(5) #ecaille {
      background-color: #FFF;
      padding: 15px 0; }
      main section:nth-child(5) #ecaille svg {
        font-weight: bold;
        height: auto;
        margin-bottom: 3%;
        margin-left: 3%;
        font-size: 12px; }
      main section:nth-child(5) #ecaille img {
        height: 380px;
        width: 100%; }
      main section:nth-child(5) #ecaille h3 {
        font-size: 17px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0 0 9px 40px; }
      main section:nth-child(5) #ecaille h2 {
        position: relative;
        display: inline-block;
        margin-bottom: 36px;
        text-transform: uppercase;
        font-size: 40px; }
      main section:nth-child(5) #ecaille .title {
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 4% 7%; }
      main section:nth-child(5) #ecaille .desc {
        font-size: 15px;
        line-height: 35px;
        margin: 0 0 24px 40px; }
      main section:nth-child(5) #ecaille .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto; }
      main section:nth-child(5) #ecaille .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center; }
      main section:nth-child(5) #ecaille button {
        border: 2px solid #6B6148;
        background-color: transparent;
        margin-left: 40px;
        float: left; }
        main section:nth-child(5) #ecaille button a {
          text-decoration: none;
          color: #000;
          font-size: 11px;
          letter-spacing: 2px;
          font-weight: initial;
          display: inline-block;
          text-transform: uppercase;
          padding: 14px 28px; }
      main section:nth-child(5) #ecaille button:hover {
        background-color: #6B614D; }
        main section:nth-child(5) #ecaille button:hover a {
          color: #fff; }
  main section:last-child {
    height: 570px;
    position: relative;
    width: 100%; }
    main section:last-child #contact {
      position: absolute;
      left: 18%;
      top: 70px;
      width: 330px;
      height: 419px;
      background-color: #fff;
      z-index: 2;
      padding: 3%;
      line-height: 25px; }
      main section:last-child #contact h4 {
        font-size: 37px;
        padding: 10px 0; }
      main section:last-child #contact h5 {
        font-size: 20px;
        padding: 10px 0; }
      main section:last-child #contact p {
        padding: 10px 0; }
        main section:last-child #contact p span {
          font-size: 18px;
          font-weight: bold; }
    main section:last-child #map {
      height: 100%;
      width: 100%; }

/* FOOTER */
footer {
  margin: 1.5% 0%; }
  footer img {
    width: 145px; }
  footer input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .btn-credits {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #0e2046;
    padding: 3.5% 0; }
  footer .form-newsletter {
    display: inline-block;
    position: relative;
    margin: 3px 25px 0 0; }
  footer .form-newsletter label {
    text-transform: uppercase;
    color: #7b7b7b;
    margin-right: 22px;
    font-size: 13px; }
  footer .form-newsletter input.input-text {
    padding: 14px 14px 14px 19px;
    width: auto; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .border-newsletter {
    display: inline-block;
    width: 1px;
    height: 20px;
    padding: 14px 0;
    margin: 0 0 0 -3px; }
  footer .form-newsletter input.btn-submit {
    cursor: pointer;
    color: #040404;
    margin-left: -2px;
    margin-top: 0px; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .form-message.valid {
    color: #145214; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.valid-error, footer footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }

/************** RESPONSIVE ***************/
/* MEDIA QUERIES MAX WIDTH 1319PX MIN WIDTH 920PX */
@media all and (max-width: 1319px) and (min-width: 920px) {
  #headersocial {
    position: absolute;
    right: -290%; }

  .show {
    display: block; }

  .hide {
    display: none; }

  header .progressContainer {
    top: 69px; }

  footer {
    height: 110px; } }
/* MEDIA QUERIES MAX WIDTH 1200PX*/
@media all and (max-width: 1200px) {
  main section:nth-child(2) img {
    margin: 75px 0 0 -30px;
    width: 260px; }

  main section:nth-child(4) .container {
    width: 100%; } }
/* MEDIA QUERIES MAX WIDTH 992PX */
@media all and (max-width: 992px) {
  .show {
    display: block; }

  .hide {
    display: none; }

  .hovermenu2, .hovermenu4 {
    margin-top: 40px; }

  #swiperrestaurant {
    height: 300px; }

  header .progressContainer {
    top: 69px; }

  main section:first-child h1 {
    font-size: 60px; }

  main section:first-child h2 {
    font-size: 25px; }

  main section:nth-child(5) {
    height: 550px; }
    main section:nth-child(5) .swiper-button-next, main section:nth-child(5) .swiper-button-prev {
      display: none; }
    main section:nth-child(5) div.img {
      display: none; }
    main section:nth-child(5) img {
      display: none; }
    main section:nth-child(5) button {
      width: 100%;
      margin-top: 10px; }

  main section:last-child {
    height: 980px; }
    main section:last-child #contact {
      position: absolute;
      top: 600px;
      left: 20px;
      height: 400px; }
    main section:last-child #map {
      height: 570px; }

  footer {
    height: 130px; }
    footer .btn-credits {
      padding: 10% 0; } }
@media all and (max-width: 992px) and (min-width: 780px) {
  #headersocial {
    position: absolute;
    right: -290%; }

  #progress {
    display: none; }

  main section:nth-child(2) img {
    width: 50%;
    margin: 9% 24%; }

  main section:nth-child(5) .swiper-button-next, main section:nth-child(5) .swiper-button-prev {
    display: none; }
  main section:nth-child(5) button {
    width: 70%;
    margin-top: 10px; }

  footer .btn-credits {
    padding: 15% 0%;
    margin-left: -17%; } }
/* MEDIA QUERIES MAX WIDTH 780PX */
@media all and (max-width: 780px) {
  #progress {
    display: none; }

  .show {
    display: block; }

  .hide {
    display: none; }

  .hovermenu2, .hovermenu4 {
    margin-top: 40px; }

  #swiperrestaurant {
    height: 300px; }

  header .progressContainer {
    top: 69px; }

  header #headersocial {
    width: 100px;
    position: absolute;
    right: -322%; }

  main section:first-child h1 {
    font-size: 60px; }

  main section:first-child h2 {
    font-size: 20px; }

  main section:nth-child(2) img {
    margin: 0% 25%;
    width: 50%; }

  main section:nth-child(3) #swiperrestaurant {
    height: 25%; }

  main section:nth-child(4) img:last-child {
    height: 30%; }

  main section:nth-child(5) {
    margin-top: 10px;
    height: 600px; }
    main section:nth-child(5) .description {
      margin: 40px 0; }
    main section:nth-child(5) .swiper-button-next, main section:nth-child(5) .swiper-button-prev {
      display: none; }
    main section:nth-child(5) div.swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets {
      top: 30px; }
    main section:nth-child(5) img {
      display: none; }
    main section:nth-child(5) button {
      padding-top: 10px;
      width: 75%; }
    main section:nth-child(5) #about h3 {
      margin-right: 47.3%; }
    main section:nth-child(5) #about svg {
      margin: 0 142px 0 70px;
      width: 65%; }
    main section:nth-child(5) #about p.title {
      margin-right: 26%; }
    main section:nth-child(5) #about p.desc {
      margin-right: 10%;
      text-align: center; }
    main section:nth-child(5) #about button {
      margin-right: 13%; }
    main section:nth-child(5) #ecaille h3 {
      margin-left: 40.3%; }
    main section:nth-child(5) #ecaille svg {
      margin-left: 25.7%; }
    main section:nth-child(5) #ecaille p.title {
      margin-left: 13%; }
    main section:nth-child(5) #ecaille p.desc {
      margin-right: 10%;
      text-align: center; }
    main section:nth-child(5) #ecaille button {
      margin-right: 13%; }

  main section:last-child #contact {
    height: 370px; }

  footer {
    height: 160px; }
    footer .btn-credits {
      padding: 7% 0; } }
/* MEDIA QUERIES MAX WIDTH 380PX */
@media all and (max-width: 380px) {
  body {
    overflow-x: hidden; }

  header #headersocial {
    display: none; }

  #progress {
    display: none; }

  main section:first-child #headerdesc {
    padding-top: 200px; }
  main section:first-child h1 {
    font-size: 36px; }
  main section:first-child h2 {
    font-size: 19px; }

  main section:nth-child(2) svg {
    margin-bottom: 30px; }
  main section:nth-child(2) img {
    margin: 0% 13%;
    width: 72%; }
  main section:nth-child(2) span {
    font-size: 16px; }
  main section:nth-child(2) p {
    font-size: 13px; }

  main section:nth-child(3) .container {
    width: 100%;
    padding: 0; }
  main section:nth-child(3) #swiperrestaurant {
    height: 45%; }
    main section:nth-child(3) #swiperrestaurant div.swiper-button-prev {
      margin-left: -10%; }
    main section:nth-child(3) #swiperrestaurant div.swiper-button-next {
      margin-right: -10%; }

  main section:nth-child(4) h2 {
    font-size: 30px; }
  main section:nth-child(4) .button--nina {
    padding: 3.5px 15px;
    color: #fff;
    font-size: 14px; }
  main section:nth-child(4) img:last-child {
    height: 30%; }

  main section:nth-child(5) {
    height: 425px; }
    main section:nth-child(5) #about svg {
      margin-left: 10%;
      margin-right: 20%; }
    main section:nth-child(5) #about button {
      margin-right: 17.8%;
      width: 56%; }
    main section:nth-child(5) #about h3 {
      margin-right: 43%;
      font-size: 12px; }
    main section:nth-child(5) #about p.title {
      font-size: 11px;
      margin-right: 40px;
      text-align: center; }
    main section:nth-child(5) #about p.desc {
      font-size: 9px;
      line-height: 20px; }
    main section:nth-child(5) #ecaille svg {
      margin-right: 2%; }
    main section:nth-child(5) #ecaille button {
      width: 56%;
      margin-left: 9%; }
    main section:nth-child(5) #ecaille h3 {
      font-size: 12px;
      margin-left: 36%; }
    main section:nth-child(5) #ecaille p.title {
      font-size: 11px;
      margin-right: 10%;
      margin-left: 0%;
      text-align: center; }
    main section:nth-child(5) #ecaille p.desc {
      font-size: 9px;
      line-height: 20px;
      margin-left: 0%;
      text-align: center; }

  #googlemap #contact h4 {
    font-size: 27px; }
  #googlemap #contact h5 {
    font-size: 16px; }
  #googlemap #contact p {
    font-size: 13px;
    width: 89%; }
  #googlemap #contact span {
    font-size: 16px; }

  footer {
    height: 268px; }
    footer .form-newsletter {
      margin-right: 11px; }
      footer .form-newsletter label {
        margin-right: 0; }
    footer a.btn {
      padding: 8% 13%; }
    footer img {
      margin-top: 20px; } }

/*# sourceMappingURL=main.css.map */
