body {
  margin: 0;
  padding: 0;
  font-family: Roboto; }

body {
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s; }

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 128px;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff; }
  header .container {
    width: 1350px; }
  header .progressContainer {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%; }
  header .progress {
    height: 5px;
    background: #e0d2b1;
    width: 0;
    transition: width 0.5s; }
  header #logo {
    padding: 15px 0 0 0; }
  header #logo img {
    width: 250px; }
  header nav {
    padding: 50px 0px 0px 0px;
    text-align: center;
    font-family: roboto;
    font-weight: bold; }
    header nav ul li {
      display: inline-block;
      list-style-type: none;
      padding: 11px 13px;
      font-size: 18px;
      letter-spacing: 2px; }
      header nav ul li a {
        text-decoration: none;
        color: inherit; }
  header #headersocial {
    padding: 50px 0 0 0; }
    header #headersocial img {
      width: 30px; }

/* MAIN */
main {
  /* HEADER LA CARTE */
  /* LA CARTE */
  /* LES MENUS */
  /* LES ENTREES */
  /* LES PLATS */
  /* LES DESSERTS */
  /* LES BOISSONS */ }
  main section:first-child {
    height: 500px;
    background: url("../images/swiper3.jpg") no-repeat;
    background-attachment: fixed;
    background-size: 100% 115%; }
    main section:first-child #headerdesc {
      padding: 185px 0px; }
    main section:first-child h1 {
      font-size: 60px;
      color: #FFF;
      z-index: 2;
      font-family: Montserrat;
      margin: 0 auto;
      padding: 20px 0; }
    main section:first-child button {
      border: 2px solid #ffffff;
      z-index: 2;
      margin: 0 auto;
      background-color: transparent; }
      main section:first-child button a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    main section:first-child button:hover {
      background-color: #6B614D;
      color: #fff; }
      main section:first-child button:hover a {
        color: #fff; }
  main section:nth-child(2) {
    padding: 50px 0 50px 0;
    background-color: #F4F4F4;
    position: relative; }
    main section:nth-child(2) .row {
      padding: 5% 0; }
    main section:nth-child(2) .arrow {
      width: 19px;
      height: 21px;
      display: none;
      padding: 1px 0 0 4px; }
    main section:nth-child(2) svg {
      font-weight: bold;
      max-width: 500px;
      height: auto;
      margin-bottom: 3%;
      margin-left: -5px;
      font-family: Montserrat; }
    main section:nth-child(2) img {
      width: auto;
      height: 380px; }
    main section:nth-child(2) h3 {
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400;
      /*position: absolute;
      top: 45%;*/ }
    main section:nth-child(2) h2 {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 29px;
      margin: 48px 0 36px 0; }
    main section:nth-child(2) p {
      text-align: center;
      margin-bottom: 4%;
      line-height: 30px; }
    main section:nth-child(2) li {
      padding-bottom: 15px;
      list-style-type: circle; }
    main section:nth-child(2) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(2) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(3) {
    padding: 71px 0 0 0;
    background-color: #FFF; }
    main section:nth-child(3) .arrow {
      width: 19px;
      height: 21px;
      display: none;
      padding: 1px 0 0 4px; }
    main section:nth-child(3) .title {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 4%; }
    main section:nth-child(3) .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px; }
    main section:nth-child(3) #entree1, main section:nth-child(3) #plats1, main section:nth-child(3) #dessert1, main section:nth-child(3) #entree2, main section:nth-child(3) #plats2, main section:nth-child(3) #dessert2, main section:nth-child(3) #plats3, main section:nth-child(3) #dessert3 {
      display: none; }
    main section:nth-child(3) svg {
      font-weight: bold;
      max-width: 500px;
      height: auto;
      margin-bottom: 3%;
      margin-left: 5px;
      font-family: Montserrat; }
    main section:nth-child(3) img {
      width: auto;
      height: 380px; }
    main section:nth-child(3) h3 {
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:nth-child(3) h2 {
      position: relative;
      text-transform: uppercase;
      font-size: 29px;
      margin: 46px 0 36px 0; }
    main section:nth-child(3) p {
      text-align: center;
      margin-bottom: 4%;
      line-height: 30px;
      font-size: 20px; }
    main section:nth-child(3) li {
      padding-bottom: 15px;
      list-style-type: circle; }
    main section:nth-child(3) .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px;
      margin-left: 60px; }
    main section:nth-child(3) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(3) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(4) {
    padding: 71px 0 0 0;
    background-color: #FFF; }
    main section:nth-child(4) .home-subtitle {
      font-size: 17px; }
    main section:nth-child(4) .arrow {
      width: 19px;
      height: 21px;
      display: none;
      padding: 1px 0 0 4px; }
    main section:nth-child(4) .compotitle {
      display: none; }
    main section:nth-child(4) #entreecold ul, main section:nth-child(4) #entreehot ul {
      display: none; }
    main section:nth-child(4) svg {
      font-weight: bold;
      max-width: 500px;
      height: auto;
      margin-bottom: 3%;
      margin-left: -4px;
      font-family: Montserrat; }
    main section:nth-child(4) img {
      width: auto;
      height: 380px; }
    main section:nth-child(4) h3 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:nth-child(4) h2 {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 29px;
      margin: 48px 0 35px 0; }
    main section:nth-child(4) li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:nth-child(4) .title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 6%; }
    main section:nth-child(4) .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px; }
    main section:nth-child(4) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(4) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(5) {
    padding: 71px 0 0 0;
    background-color: #FFF; }
    main section:nth-child(5) .home-subtitle {
      font-size: 17px; }
    main section:nth-child(5) .arrow {
      width: 19px;
      height: 21px;
      display: none;
      padding: 1px 0 0 4px; }
    main section:nth-child(5) .compotitle {
      display: none; }
    main section:nth-child(5) #compo1, main section:nth-child(5) #compo2, main section:nth-child(5) #compo3, main section:nth-child(5) #compo4, main section:nth-child(5) #compo5, main section:nth-child(5) #compo6, main section:nth-child(5) #pdmlist, main section:nth-child(5) #meatlist {
      display: none; }
    main section:nth-child(5) svg {
      font-weight: bold;
      max-width: 500px;
      height: auto;
      margin-bottom: 3%;
      margin-left: -4px;
      font-family: Montserrat; }
    main section:nth-child(5) img {
      width: auto;
      height: 380px; }
    main section:nth-child(5) h3 {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 33px;
      font-weight: 400; }
    main section:nth-child(5) h2 {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 29px;
      margin: 48px 0 35px 0; }
    main section:nth-child(5) li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:nth-child(5) .title {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 6%; }
    main section:nth-child(5) .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px;
      margin-left: 60px; }
    main section:nth-child(5) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(5) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(6) {
    padding: 71px 0 0 0;
    background-color: #FFF; }
    main section:nth-child(6) .home-subtitle {
      font-size: 17px; }
    main section:nth-child(6) .arrow {
      width: 19px;
      height: 21px;
      display: none;
      padding: 1px 0 0 4px; }
    main section:nth-child(6) .compotitle {
      display: none; }
    main section:nth-child(6) #platsid h2, main section:nth-child(6) #compositions h3, main section:nth-child(6) #huitres h3, main section:nth-child(6) #btn4up, main section:nth-child(6) #btn5up, main section:nth-child(6) #btn6up, main section:nth-child(6) #btn7up, main section:nth-child(6) #btn8up, main section:nth-child(6) #btn9up, main section:nth-child(6) #compo1, main section:nth-child(6) #compo2, main section:nth-child(6) #compo3, main section:nth-child(6) #compo4, main section:nth-child(6) #compo5, main section:nth-child(6) #compo6, main section:nth-child(6) #homemade ul, main section:nth-child(6) #icecream ul {
      display: none; }
    main section:nth-child(6) svg {
      font-weight: bold;
      max-width: 500px;
      height: auto;
      margin-bottom: 3%;
      margin-left: -4px;
      font-family: Montserrat; }
    main section:nth-child(6) img {
      width: auto;
      height: 380px; }
    main section:nth-child(6) h3 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:nth-child(6) h2 {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 29px;
      margin: 48px 0 35px 0; }
    main section:nth-child(6) li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:nth-child(6) .title {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 6%; }
    main section:nth-child(6) .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px; }
    main section:nth-child(6) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(6) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:last-child {
    padding: 72px 0;
    background-color: #FFF; }
    main section:last-child .home-subtitle {
      font-size: 17px; }
    main section:last-child .arrow {
      width: 19px;
      height: 21px;
      display: none;
      padding: 1px 0 0 4px; }
    main section:last-child .compotitle {
      display: none; }
    main section:last-child #platsid h2, main section:last-child #compositions h3, main section:last-child #huitres h3, main section:last-child #btn4up, main section:last-child #btn5up, main section:last-child #btn6up, main section:last-child #btn7up, main section:last-child #btn8up, main section:last-child #btn9up, main section:last-child #compo1, main section:last-child #compo2, main section:last-child #compo3, main section:last-child #compo4, main section:last-child #compo5, main section:last-child #compo6, main section:last-child #boisson1 ul, main section:last-child #boisson2 ul, main section:last-child #boisson3 ul, main section:last-child #boisson4 ul {
      display: none; }
    main section:last-child svg {
      font-weight: bold;
      max-width: 500px;
      height: auto;
      margin-bottom: 3%;
      margin-left: -4px;
      font-family: Montserrat; }
    main section:last-child img {
      width: auto;
      height: 380px; }
    main section:last-child h3 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:last-child h2 {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-size: 29px;
      margin: 48px 0 35px 0; }
    main section:last-child li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:last-child .title {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 6%; }
    main section:last-child .desc {
      font-size: 15px;
      line-height: 35px;
      margin-bottom: 24px; }
    main section:last-child button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:last-child button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }

/* FOOTER */
footer {
  margin: 1.5% 0%; }
  footer img {
    width: 145px; }
  footer input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .btn-credits {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0e2046;
    padding: 3.5%; }
  footer .form-newsletter {
    display: inline-block;
    position: relative;
    margin: 3px 25px 0 0; }
  footer .form-newsletter label {
    text-transform: uppercase;
    color: #7b7b7b;
    margin-right: 22px;
    font-size: 13px; }
  footer .form-newsletter input.input-text {
    padding: 14px 14px 14px 19px;
    width: auto; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .border-newsletter {
    display: inline-block;
    width: 1px;
    height: 20px;
    padding: 14px 0;
    margin: 0 0 0 -3px; }
  footer .form-newsletter input.btn-submit {
    cursor: pointer;
    color: #040404;
    margin-left: -2px;
    margin-top: 0px; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .form-message.valid {
    color: #145214; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.valid-error, footer footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }

/*# sourceMappingURL=menu.css.map */
