
    <footer>
        <div class="container text-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5">
                        <a href="/credits" class="btn btn-credits">Crédits &amp; Mentions légales</a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
                        <form class="form-newsletter" method="post" action="">
                        <label for="email">Newsletter :</label>
                        <input type="text" class="form-email input-text" placeholder="Votre email" name="newsletter" id="newsletter">
                        <span class="border-newsletter"><span class="border"></span></span>
                        <input type="submit" class="btn btn-submit" value="OK">
                        <div class="form-message valid">
                            <p>
                                Votre inscription a bien &eacute;t&eacute; prise en compte.
                            </p>
                        </div>
                        <div class="form-message error valid-error">
                            <p>
                                Merci de saisir un e-mail valide.
                            </p>
                        </div>
                        <div class="form-message error post-error">
                            <p>
                                Probl&egrave;me technique, veuillez r&eacute;essayer ult&eacute;rieurement.
                            </p>
                        </div>
                        </form>
                    </div
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <a href="/">
                            <img src="../static/images/common/logobrown.png" alt="Restaurant La Mascotte" class="footer-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>