    <header>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                        <div id="logo">
                            <a href="/">
                                <img src="../static/images/common/logobeige.png" alt="logo la mascotte">
                            </a>
                        </div>
                    </div>
                    <div class="hide col-md-7 text-center">
                        <nav class="hover-effect">
                            <ul>
                                <li><a href="/">ACCUEIL</a></li>
                                <li><a href="about">À PROPOS</a></li>
                                <li><a href="menu">MENU</a></li>
                                <li><a href="booking">RÉSERVER</a></li>
                                <li><a href="http://www.la-mascotte-montmartre.com/livraison-fruits-de-mer/">LIVRAISON</a></li>
                                <li id="contacter"><a href="/#contact">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
                        <div id="headersocial">
                            <a href="https://www.facebook.com/LaMascotteMontmartre/" target="_blank">
                                <img src="../static/images/common/facebook.svg" alt="facebook">
                            </a>
                            <a href="https://www.instagram.com/lamascottemontmartre/" target="_blank">
                                <img src="../static/images/common/instagram.svg" alt="facebook">
                            </a>
                            <a href="#">
                                <img src="../static/images/common/engflag.png" alt="english">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="progressContainer"><div id="progress" class="progress"></div></div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-nav text-center show">
        <div class="row">
            <div class="col-md-12">
                <a id="homenav" href="/" class="col-2 btn btn-accueil">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/home.png" alt="accueil">
                        <span class="text">Accueil</span>
                    </span>
                </a>
                <a id="aboutnav" href="about" class="col-2 btn btn-about">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/about.png" alt="a propos">
                        <span class="text">À propos</span>
                    </span>
                </a>
                <a id="cartenav" href="menu" class="col-2 btn btn-menu">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/fish.png" alt="menu">
                        <span class="text">La Carte</span>
                    </span>
                </a>
                <a id="booknav" href="booking" class="col-2 btn btn-booking">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/phone.png" alt="reservation">
                        <span class="text">Réserver</span>
                    </span>
                </a>
                <a id="ordernav" href="http://www.la-mascotte-montmartre.com/livraison-fruits-de-mer/" class="col-2 btn btn-delivery">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/delivery2.png" alt="livraison">
                        <span class="text">Livraison</span>
                    </span>
                </a>
                <a id="contactnav" href="#contact" class="col-2 btn btn-contact">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/marker.png" alt="localisation">
                        <span class="text">Contact</span>
                    </span>
                </a>
            </div>
        </div>
    </div>