@import "variables";

body {
	margin : 0;
	padding: 0;
	font-family: Roboto;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	width: 100%;
    min-height: 128px;
    z-index: 3;
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
    color: #fff;

    .container {
    	width: 1350px;
    }
	
	#logo {
		padding: 15px 0 0 0;
	}

    #logo img {
		width: 250px; 
    }

	nav {
		padding: 50px 0px 0px 0px;
		text-align: center;
		font-family: roboto;
		font-weight: bold;

			ul {


			li {
				display: inline-block;
				list-style-type: none;
				padding: 11px 13px;
				font-size: 18px;
				letter-spacing: 2px;

				a {
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}

	#headersocial {
		padding: 50px 0 0 0;

		img {
			width: 30px;
		}
	}
}

/* MAIN */
main {

	/* HISTOIRE */
	section:first-child {
		background: url("../images/facade2.jpg") no-repeat;
		background-size: 100% 70%;
		background-attachment: fixed;
		height: 500px;

		h1 {
			font-size: 60px;
			color: #FFF;
			position: absolute;
		    top: 35%;
		    left: 50%;
		    transform: translate(-50%, -50%);
			z-index: 2;
			font-family: Montserrat;
		}

		button {
			border: 2px solid #ffffff;
			z-index: 2;
			position: absolute;
		    top: 47%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    background-color: transparent;
			
			a {
				text-decoration: none;
				color: #fff;
				font-size: 14px;
			    letter-spacing: 2px;
			    font-weight: initial;
			    display: inline-block;
			    text-transform: uppercase;
			    padding: 17px 28px;
			}
		}
	}

	/* RESTAURANT */
	section:nth-child(2) {
		padding: 72px 0;
		background-color: #FFF;
		

		svg {
			font-weight:bold;
			max-width: 500px;
			height:auto;
			margin-bottom: 6%;
			margin-left:6%;
			font-family:Montserrat;
		}

		img {
			width: auto;
			height: 380px;
		}

		h3 {
			font-size: 17px;
		    font-weight: 400;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    margin-bottom: 20px;
		}

		h2 {
			position: relative;
		    display: inline-block;
		    margin-bottom: 36px;
		    text-transform: uppercase;
		    font-size: 40px;
		}

		.title {
			font-size: 30px;
			margin-bottom: 4%;
			line-height: 30px;
		}
		
		.desc {
			font-size: 15px;
		    line-height: 35px;
		    margin-bottom: 24px;
		}

		button {
		    border: 2px solid #000000;
		    background-color: transparent;
		    position: absolute;
		    right: 15px;

			a {
				text-decoration: none;
			    color: #000;
			    font-size: 11px;
			    letter-spacing: 2px;
			    font-weight: initial;
			    display: inline-block;
			    text-transform: uppercase;
			    padding: 14px 28px;
			}
		}
	}

	/* 1935 */
	section:nth-child(3) {
		padding: 72px 0;
		background-color: #FFF;
		

		svg {
			font-weight:bold;
			max-width:400px;
			height:auto;
			margin-bottom: 3%;
			margin-left:25%;
		}

		h3 {
			font-size: 15px;
    		line-height: 35px;
		}
	}

	/* 2000 */
	section:nth-child(4) {
		padding: 72px 0;
		background-color: #FFF;
		

		svg {
			font-weight:bold;
			max-width:400px;
			height:auto;
			margin-bottom: 3%;
			margin-left:-16px;
		}

		h3 {
			font-size: 15px;
    		line-height: 35px;
		}
	}

	/* 2006 */
	section:nth-child(5) {
		padding: 72px 0;
		background-color: #FFF;
		

		svg {
			font-weight:bold;
			max-width:400px;
			height:auto;
			margin-bottom: 3%;
			margin-left:-16px;
		}

		h3 {
			font-size: 15px;
    		line-height: 35px;
		}
	}

	/* 2017 */
	section:last-child {
		padding: 72px 0;
		background-color: #FFF;
		

		svg {
			font-weight:bold;
			max-width:400px;
			height:auto;
			margin-bottom: 3%;
			margin-left:-16px;
		}

		h3 {
			font-size: 15px;
    		line-height: 35px;
		}
	}

}

/* FOOTER */
footer {
	height: 350px;
	background-color: #4c4444;
	color: #fff;
	
	.row {

		div:first-child {
			position: relative;
			

			h4 {
				position: absolute;
				top: 40%;
				left: 8%;
				line-height: 26px;
				font-size: 18px;
			}

			p {
				position: absolute;
				top: 47%;
				left: 54%;
				font-size: 22px;
			}

			button:first-child {
				border: 4px solid #ffffff;
				z-index: 2;
				position: absolute;
			    top: 72%;
			    left: 38%;
			    background-color: transparent;
			
				a {
					text-decoration: none;
					color: #fff;
					font-size: 14px;
				    letter-spacing: 2px;
				    font-weight: initial;
				    display: inline-block;
				    text-transform: uppercase;
				    padding: 10px 24px;
				}
			}
			
			button:nth-child(2) {
				border: 4px solid #ffffff;
				z-index: 2;
				position: absolute;
			    top: 72%;
			    left: 69%;
			    background-color: transparent;
			
				a {
					text-decoration: none;
					color: #fff;
					font-size: 14px;
				    letter-spacing: 2px;
				    font-weight: initial;
				    display: inline-block;
				    text-transform: uppercase;
				    padding: 10px 24px;
				}
			}
			
			img {
				position: absolute;
				top: 7%;
				left: 39%;
			}
		}

		div:last-child {
			padding-right: 0px;
		}
	}
}



