<!--

#title            : LA MASCOTTE RESTAURANT ABOUT PAGE
#description      : La Mascotte's Website proudly made by:
#author           : Brieuc CAILLOT
#date             : 2017 16 04
#version          : V1
#usage            : HTML
#notes            : Only working on search engine

=============================================================-->

<html lang="fr">
<head>
    <!--META-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Brasserie typiquement Montmartroise, La Mascotte à Montmartre vous accueille 7 jours sur 7, de 8h à 23h30 au 52 Rue des Abbesses : 01 46 06 28 15." />
    <meta name="keywords" content="La Mascotte, À propos, Restaurant, Montmartre">

    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!--LINK-->
    <link rel="icon" href="../static/images/common/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/reset.css"/>
    <link rel="stylesheet" href="../static/css/about.css"/>

    <!--SCRIPT-->
    <script alt="JQuery Library" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script type="text/javascript" src="../static/js/scriptabout.js"></script>

    <title>À propos - La Mascotte</title>
</head>

<body>
    <!--HEADER-->
    <header>
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
                        <div id="logo">
                            <a href="/">
                                <img src="../static/images/common/logobeige.png" alt="logo la mascotte">
                            </a>
                        </div>
                    </div>
                    <div class="hide col-md-7 text-center">
                        <nav class="hover-effect">
                            <ul>
                                <li><a href="/">ACCUEIL</a></li>
                                <li><a href="about">À PROPOS</a></li>
                                <li><a href="menu">MENU</a></li>
                                <li><a href="booking">RÉSERVER</a></li>
                                <li><a href="http://www.la-mascotte-montmartre.com/livraison-fruits-de-mer/">LIVRAISON</a></li>
                                <li><a id="contact" href="/#contact">CONTACT</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-6 col-md-2 col-lg-2 text-center">
                        <div id="headersocial">
                            <a href="https://www.facebook.com/LaMascotteMontmartre/" target="_blank">
                                <img src="../static/images/common/facebook.svg" alt="facebook">
                            </a>
                            <a href="https://www.instagram.com/lamascottemontmartre/" target="_blank">
                                <img src="../static/images/common/instagram.svg" alt="facebook">
                            </a>
                            <a href="#">
                                <img src="../static/images/common/engflag.png" alt="english">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="progressContainer"><div id="progress" class="progress"></div></div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-nav text-center show">
        <div class="row">
            <div class="col-md-12">
                <a id="homenav" href="/" class="col-2 btn btn-accueil">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/home.png" alt="accueil">
                        <span class="text">Accueil</span>
                    </span>
                </a>
                <a id="aboutnav" href="/about" class="col-2 btn btn-about">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/about.png" alt="a propos">
                        <span class="text">À propos</span>
                    </span>
                </a>
                <a id="cartenav" href="/menu" class="col-2 btn btn-menu">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/fish.png" alt="menu">
                        <span class="text">La Carte</span>
                    </span>
                </a>
                <a id="booknav" href="/booking" class="col-2 btn btn-booking">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/phone.png" alt="reservation">
                        <span class="text">Réserver</span>
                    </span>
                </a>
                <a id="ordernav" href="http://www.la-mascotte-montmartre.com/livraison-fruits-de-mer/" class="col-2 btn btn-delivery">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/delivery2.png" alt="livraison">
                        <span class="text">Livraison</span>
                    </span>
                </a>
                <a id="contactnav" href="/#contact" class="col-2 btn btn-contact">
                    <span class="btn-inside">
                        <img src="../static/images/mobilenav/marker.png" alt="localisation">
                        <span class="text">Contact</span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <main>
        <!--À PROPOS-->
        <section>
            <div class="container">
                <div id="headerdesc" class="col-md-12 text-center">
                    <div class="row">
                        <h1>
                            À PROPOS
                        </h1>
                    </div>
                    <div class="row">
                        <a href="/booking">
                            <button class="button button--nina" data-text="R É S E R V E R">
                                <span>R</span>
                                <span>É</span>
                                <span>S</span>
                                <span>E</span>
                                <span>R</span>
                                <span>V</span>
                                <span>E</span>
                                <span>R</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--NAV-->
        <section>
            <div class="container text-center">
                <div class="col-md-12">
                    <div class="row">
                        <!--LIEU-->
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <h3 id="h3menu" class="home-subtitle">
                                À propos
                            </h3>
                            <h4 id="aboutdevice" class="menudevice">LE LIEU</h4>
                            <svg id="about" viewBox="-30 0 160 20">
                                <defs>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                        <stop offset="5%" stop-color="#326384"></stop>
                                        <stop offset="95%" stop-color="#123752"></stop>
                                    </linearGradient>
                                    <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                        <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)" transform="translate(2.66667 0)"> 
                                            <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite"></animateTransform>
                                        </path>
                                    </pattern>
                                </defs>
                                <a href="javascript:void(0)">
                                    <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)" fill-opacity="0.6">LE LIEU</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#gradient)" fill-opacity="0.5">LE LIEU</text>
                                </a>
                            </svg>
                        </div>
                        <!--HISTOIRE-->
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <h3 class="home-subtitle">
                                À propos
                            </h3>
                            <h4 id="historydevice" class="menudevice">L' HISTOIRE</h4>
                            <svg id="history" viewBox="-29 0 160 20">
                                <defs>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                        <stop offset="5%" stop-color="#326384"></stop>
                                        <stop offset="95%" stop-color="#123752"></stop>
                                    </linearGradient>
                                    <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                        <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)" transform="translate(2.66667 0)"> 
                                            <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite"></animateTransform>
                                        </path>
                                    </pattern>
                                </defs>
                                <a href="javascript:void(0)">
                                    <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)" fill-opacity="0.6">L' HISTOIRE</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#gradient)" fill-opacity="0.5">L' HISTOIRE</text>
                                </a>
                            </svg>
                        </div>
                        <!--NEWS-->
                        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4">
                            <h3 class="home-subtitle">
                                À propos
                            </h3>
                            <h4 id="newsdevice" class="menudevice">L' ACTUALITÉ</h4>
                            <svg id="news" viewBox="-27 0 153 20">
                                <defs>
                                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                        <stop offset="5%" stop-color="#326384"></stop>
                                        <stop offset="95%" stop-color="#123752"></stop>
                                    </linearGradient>
                                    <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                        <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)" transform="translate(2.66667 0)"> 
                                            <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite"></animateTransform>
                                        </path>
                                    </pattern>
                                </defs>
                                <a href="javascript:void(0)">
                                    <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#wave)" fill-opacity="0.6">L' ACTUALITÉ</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="17" fill="url(#gradient)" fill-opacity="0.5">L' ACTUALITÉ</text>
                                </a>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--LE LIEU-->
        <section id="placesection">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-sm-offset-12 col-md-12 col-lg-12">
                    <div class="text-center">
                        <h3 class="home-subtitle">À PROPOS</h3>
                        <h4 class="menudevice">LE LIEU</h4>
                        <svg viewBox="-10 0 120 20">
                            <defs>
                                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="5%" stop-color="#326384"></stop>
                                    <stop offset="95%" stop-color="#123752"></stop>
                                </linearGradient>
                                <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                    <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)" transform="translate(6.22222 0)"> 
                                        <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite"></animateTransform>
                                    </path>
                                </pattern>
                            </defs>
                            <text text-anchor="middle" x="50" y="15" fill="url(#wave)" fill-opacity="0.6">LE LIEU
                            </text>
                            <text text-anchor="middle" x="50" y="15" fill="url(#gradient)" fill-opacity="0.5">LE LIEU
                            </text>
                        </svg>
                    </div>
                </div>
            </div>

            <!--RESTAURANT-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h3 class="home-subtitle">APPRÉCIEZ</h3>
                                <h4 class="menudevice">LE RESTAURANT</h4>
                                <svg viewbox="-41 0 160 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#wave)"  fill-opacity="0.6">LE RESTAURANT</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#gradient)" fill-opacity="0.5">LE RESTAURANT</text>
                                </svg>
                                <p class="title">
                                    Venez passer un bon moment tout seul ou en famille
                                </p>
                                <p class="desc">
                                    Service continu 7/7 de 12h à 24h.
                                    Le restaurant est doté d'une salle privatisable indépendante pouvant accueillir jusqu'à 40 couverts. <br>Un espace idéal pour vos événements familiaux, repas d'affaire ou amicaux..
                                </p>
                                <p class="desc" id="restaurantdisplay">
                                    Au 1er étage, une salle indépendante de 40 couverts. 
                                    <br>Idéale pour repas de société, mariage, baptême, etc… 
                                    <br> N'hésitez pas à nous contacter au 01 46 06 28 15 pour un renseignement.
                                    <br><br> - À la carte, comptez de 26€ à 36€ pour un plat, <br> entrées autour de 13€ et desserts autour de 12€. 
                                    <br> - Menu entrée + plat + dessert à 49€.
                                    <br> - À midi et en semaine, menus entrée + plat <br> ou plat + dessert à 32€, avec boisson.l
                                </p>
                                <a href="javascript:void(0)">
                                    <button id="restaurantseemore" class="button button--nina" data-text="E N &nbsp; S A V O I R &nbsp; P L U S">
                                    <span>E</span>
                                    <span>N</span>
                                    <span> </span>
                                    <span>S</span>
                                    <span>A</span>
                                    <span>V</span>
                                    <span>O</span>
                                    <span>I</span>
                                    <span>R</span>
                                    <span> </span>
                                    <span>P</span>
                                    <span>L</span>
                                    <span>U</span>
                                    <span>S</span>
                                    </button>
                                </a>
                                <a href="javascript:void(0)">
                                    <button id="restaurantreduce" class="button button--nina" data-text="V O I R &nbsp; M O I N S">
                                        <span>V</span>
                                        <span>O</span>
                                        <span>I</span>
                                        <span>R</span>
                                        <span> </span>
                                        <span>M</span>
                                        <span>O</span>
                                        <span>I</span>
                                        <span>N</span>
                                        <span>S</span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/restaurant.jpg" alt="interieur la mascotte" width="100%" height="100%"/>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!--BAR-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row row-reverse">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h3 class="home-subtitle">Conviviale</h3>
                                <h4 class="menudevice">LE BAR</h4>
                                <svg viewbox="16 0 120 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#wave)"  fill-opacity="0.6">LE BAR</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#gradient)" fill-opacity="0.5">LE BAR</text>
                                </svg>
                                <p class="title">
                                    Venez découvrir nos alcools au bar
                                </p>
                                <p class="desc">
                                    C'est un zinc de quartier, à la clientèle mélangée et haute en couleur. On y retrouve l'ambiance d'un Montmartre de légende, sans la nostalgie d'un passé qui est ici toujours bien vivant. Et bon vivant.
                                </p>
                                <p class="desc" id="bardisplay">
                                    Le dimanche, de midi à 15h, c'est ambiance musette. Il n'est pas rare que les clients poussent la chansonnette.
                                    <br><br>Thierry Campion, patron de l'établissement, excelle dans l'art de dénicher des vins de grande qualité issus de producteurs encore peu diffusés. 
                                    <br>La grande variété des vins de La Mascotte en témoigne : ce n'est pas pour rien qu'il à obtenu la Coupe du meilleur pot en 1999.
                                </p>
                                <a href="javascript:void(0)">
                                    <button id="barseemore" class="button button--nina" data-text="E N &nbsp; S A V O I R &nbsp; P L U S">
                                    <span>E</span>
                                    <span>N</span>
                                    <span> </span>
                                    <span>S</span>
                                    <span>A</span>
                                    <span>V</span>
                                    <span>O</span>
                                    <span>I</span>
                                    <span>R</span>
                                    <span> </span>
                                    <span>P</span>
                                    <span>L</span>
                                    <span>U</span>
                                    <span>S</span>
                                    </button>
                                </a>
                                <a href="javascript:void(0)">
                                    <button id="barreduce" class="button button--nina" data-text="V O I R &nbsp; M O I N S">
                                        <span>V</span>
                                        <span>O</span>
                                        <span>I</span>
                                        <span>R</span>
                                        <span> </span>
                                        <span>M</span>
                                        <span>O</span>
                                        <span>I</span>
                                        <span>N</span>
                                        <span>S</span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/bar.jpg" alt="" width="100%" height="100%"/>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!--L'ÉCAILLE-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-sm-12 col-sm-offset-12 col-md-12 col-lg-6">
                                <h3 class="home-subtitle">DÉGUSTEZ</h3>
                                <h4 class="menudevice">L' ÉCAILLE</h4>
                                <svg viewbox="-29 0 120 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#wave)"  fill-opacity="0.6">L' ÉCAILLE</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#gradient)" fill-opacity="0.5">L' ÉCAILLE</text>
                                </svg>
                                <p class="title">
                                    Dégustations, ventes à emporter, livraison de fruits de mer
                                </p>
                                <p class="desc">
                                    L'écaille c'est sans doute le plus beau « banc » de fruits de mer de Paris.<br>C'est l'annexe de la brasserie, l'endroit où sont concoctés les plateaux et assiettes de fruits de mers et crustacés. 
                                </p>
                                <p class="desc" id="ecailledisplay">
                                    De 10h à 23h30 en dégustation sur place, <br>les meilleurs produits de nos « terroirs maritimes »…
                                    <br>Assiette d’huitres, saumon fumé, crustacés, coquillages <br>et bien sur nos plateaux de fruits de mer.
                                    <br>L'écaille propose également un large choix de produits « épicerie de la mer ».
                                    <br>L’ensemble des produits présents sur la carte sont disponibles à la « vente à emporter ».
                                    <br><br>Gillardeau, David Hervé, Tsarskaya et Bouzigues pour les huitres, Safa pour les saumons et fumaisons, les produits sont issus des meilleurs producteurs.
                                </p>
                                <a href="javascript:void(0)">
                                    <button id="ecailleseemore" class="button button--nina" data-text="E N &nbsp; S A V O I R &nbsp; P L U S">
                                    <span>E</span>
                                    <span>N</span>
                                    <span> </span>
                                    <span>S</span>
                                    <span>A</span>
                                    <span>V</span>
                                    <span>O</span>
                                    <span>I</span>
                                    <span>R</span>
                                    <span> </span>
                                    <span>P</span>
                                    <span>L</span>
                                    <span>U</span>
                                    <span>S</span>
                                    </button>
                                </a>
                                <a href="javascript:void(0)">
                                    <button id="ecaillereduce" class="button button--nina" data-text="V O I R &nbsp; M O I N S">
                                        <span>V</span>
                                        <span>O</span>
                                        <span>I</span>
                                        <span>R</span>
                                        <span> </span>
                                        <span>M</span>
                                        <span>O</span>
                                        <span>I</span>
                                        <span>N</span>
                                        <span>S</span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-sm-offset-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/ecaille.jpg" alt="equipe la mascotte" width="100%" height="100%"/>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        
        <!--L'HISTOIRE-->
        <section id="historysection">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-sm-offset-12 col-md-12 col-lg-12">
                    <div class="text-center">
                        <h3 class="home-subtitle">À PROPOS</h3>
                        <h4 class="menudevice">L' HISTOIRE</h4>
                        <svg viewBox="-10 0 120 20">
                            <defs>
                                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="5%" stop-color="#326384"></stop>
                                    <stop offset="95%" stop-color="#123752"></stop>
                                </linearGradient>
                                <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                    <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)" transform="translate(6.22222 0)"> 
                                        <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite"></animateTransform>
                                    </path>
                                </pattern>
                            </defs>
                            <text text-anchor="middle" x="50" y="15" fill="url(#wave)" fill-opacity="0.6">L' HISTOIRE
                            </text>
                            <text text-anchor="middle" x="50" y="15" fill="url(#gradient)" fill-opacity="0.5">L' HISTOIRE
                            </text>
                        </svg>
                    </div>
                </div>
            </div>

            <!--1935-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row row-reverse">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h4 class="menudevice">1935</h4>
                                <svg viewbox="-39 0 110 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#wave)"  fill-opacity="0.6">1935</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#gradient)" fill-opacity="0.5">1935</text>
                                </svg>
                                <p class="desc">
                                    La création de « La Mascotte » semble remonter à 1889 à l'époque où son grand comptoir occupait tout le rez de chaussée d'un hôtel de deux étages, « Le Pompéa ». Son propriétaire, le Père Teissier, le fit surélever de trois nouveaux étages, qu'il baptisa « Hôtel Antinéa », pour y établir chacun de ses deux fils.
                                </p>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/histoire1.jpg" alt="la mascotte 1935" width="100%" height="100%" >
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!--2000-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h4 class="menudevice">2000</h4>
                                <svg viewbox="-38 0 110 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#wave)"  fill-opacity="0.6">2000</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#gradient)" fill-opacity="0.5">2000</text>
                                </svg>
                                <p class="desc">
                                    Quelque peu hôtel de rendez-vous comme son nom l'indique, « Le Pompéa » hébergea dans les années 1930 Edith Piaf et son pianiste, pendant que Messieurs Laurent et Méria tenaient le café et ses quatre billards.
                                </p>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/histoire2.jpg" alt="la mascotte 2000" width="100%" height="100%" >
                            </div>   
                        </div>
                    </div>
                </div>
            </article>

            <!--2006-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row row-reverse">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h4 class="menudevice">2006</h4>
                                <svg viewbox="28 0 110 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#wave)"  fill-opacity="0.6">2006</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#gradient)" fill-opacity="0.5">2006</text>
                                </svg>
                                <p class="desc">
                                    Monsieur Laurent, originaire de Fleurie, y servait le vin nouveau à sa clientèle de commerçants du quartier et d'artistes locaux : Toppa, Lecomte, Gen Paul… Puis la famille Conte lui succéda jusqu'en septembre 1965 où Maurice et Irène Campion s'y établirent. C'est leur fils Thierry qui perpétue la tradition Montmartro-Aveyronnaise en 2006.
                                </p>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/histoire3.jpg" alt="la mascotte 2006" width="100%" height="100%" >
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <!--2017-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h4 class="menudevice">2017</h4>
                                <svg viewbox="-42 0 110 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#wave)"  fill-opacity="0.6">2017</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="15" fill="url(#gradient)" fill-opacity="0.5">2017</text>
                                </svg>
                                <p class="desc">
                                    Après plusieurs travaux de rénovations en 2014, le restaurant connaît un renouveau d'élégance, tant de l'intérieur que de l'extérieur.
                                    <br>Thierry et son equipe perpétue encore aujourd'hui la tradition du restaurant La Mascotte. 
                                    <br>
                                    En attendant la relève..
                                </p>
                            </div> 
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/histoire4.jpg" alt="la mascotte 2017" width="100%" height="100%" >
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <!--L'ACTUALITÉ-->
        <section id="newssection">
            <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text-center">
                        <h3 class="home-subtitle">À PROPOS</h3>
                        <h4 class="menudevice">L' ACTUALITÉ</h4>
                        <svg viewBox="-10 0 120 20">
                            <defs>
                                <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                    <stop offset="5%" stop-color="#326384"></stop>
                                    <stop offset="95%" stop-color="#123752"></stop>
                                </linearGradient>
                                <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                    <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)" transform="translate(29.3333 0)"> 
                                        <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite"></animateTransform>
                                    </path>
                                </pattern>
                            </defs>
                            <text text-anchor="middle" x="50" y="15" fill="url(#wave)" fill-opacity="0.6">L' ACTUALITÉ
                            </text>
                            <text text-anchor="middle" x="50" y="15" fill="url(#gradient)" fill-opacity="0.5">L' ACTUALITÉ
                            </text>
                        </svg>
                    </div>
                </div>
            </div>
            <!--VENDREDI 12 MAI-->
            <article>
                <div class="container">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <h4 class="menudevice">VENDREDI 12 MAI</h4>
                                <svg viewbox="-33 0 160 20">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
                                            <stop offset="5%" stop-color="#326384"/>
                                            <stop offset="95%" stop-color="#123752"/>
                                        </linearGradient>
                                        <pattern id="wave" x="0" y="0" width="120" height="20" patternUnits="userSpaceOnUse">
                                            <path id="wavePath" d="M-40 9 Q-30 7 -20 9 T0 9 T20 9 T40 9 T60 9 T80 9 T100 9 T120 9 V20 H-40z" mask="url(#mask)" fill="url(#gradient)">
                                                <animateTransform attributeName="transform" type="translate" begin="0s" dur="1.5s" from="0,0" to="40,0" repeatCount="indefinite" />
                                            </path>
                                        </pattern>
                                    </defs>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#wave)"  fill-opacity="0.6">VENDREDI 12 MAI</text>
                                    <text text-anchor="middle" x="50" y="15" font-size="14" fill="url(#gradient)" fill-opacity="0.5">VENDREDI 12 MAI</text>
                                </svg>
                                <p class="title">
                                    Rencontre / dédicace / dégustation : André Deyrieux<br>À la rencontre des cépages modestes et oubliés
                                </p>
                                <p class="desc">
                                    Vendredi 12 mai 2017, à partir de 18h, La Mascotte vous invite à une rencontre avec André Deyrieux, à l'occasion de la sortie de son livre : À la rencontre des cépages modestes et oubliés. Cette rencontre / dédicace sera suivie d'une dégustation de cuvées de cépages rares !
                                </p>
                            </div>
                            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                <img src="../static/images/about/actualité1.jpeg" alt="actualité" width="100%" height="100%"/>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>


    <!--FOOTER-->
    <footer>
        <div class="container text-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5">
                        <a href="/credits" class="btn btn-credits">Crédits &amp; Mentions légales</a>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
                        <form class="form-newsletter" method="post" action="">
                        <label for="email">Newsletter :</label>
                        <input type="text" class="form-email input-text" placeholder="Votre email" name="newsletter" id="newsletter">
                        <span class="border-newsletter"><span class="border"></span></span>
                        <input type="submit" class="btn btn-submit" value="OK">
                        <div class="form-message valid">
                            <p>
                                Votre inscription a bien &eacute;t&eacute; prise en compte.
                            </p>
                        </div>
                        <div class="form-message error valid-error">
                            <p>
                                Merci de saisir un e-mail valide.
                            </p>
                        </div>
                        <div class="form-message error post-error">
                            <p>
                                Probl&egrave;me technique, veuillez r&eacute;essayer ult&eacute;rieurement.
                            </p>
                        </div>
                        </form>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                        <a href="/index">
                            <img src="../static/images/common/logobrown.png" alt="Restaurant La Mascotte" class="footer-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
