@import "variables";

body {
	margin : 0;
	padding: 0;
	font-family : roboto;
	overflow-x: hidden;
	
	.row-reverse {
	    flex-direction: row-reverse;
	}

	.menudevice {
		font-size: 60px;
		color: #2A6993;
		margin: 0 auto;
		text-align: center;
	}

	.button {
		position: relative;
	    display: block;
	    color: inherit;
	    -webkit-backface-visibility: hidden;
	    -moz-osx-font-smoothing: grayscale;
	}
	.button--nina {
		border: 2px solid #ffffff;
		z-index: 2;
	    background-color: transparent;
	    color: #fff;
	    margin: 0 auto;
		overflow: hidden;
		font-family: Roboto;;
		-webkit-transition: background-color 0.3s;
		transition: background-color 0.3s;
		padding: 4px 28px;
		-webkit-backface-visibility: hidden;
	    -moz-osx-font-smoothing: grayscale;

		span {
			text-decoration: none;
			color: #fff;
			font-size: 14px;
		    letter-spacing: 2px;
		    display: inline-block;
		    text-transform: uppercase;
		}
	}
	.button--nina.button--inverted {
		background-color: #6B614D;
		color: #fff;
	}
	.button--nina > span {
		display: inline-block;
		padding: 1em 0;
		opacity: 0;
		color: #fff;
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	.button--nina::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 1em 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	.button--nina:hover {
		background-color: #6b614d;
	}
	.button--nina:hover::before {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	.button--nina:hover > span {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.button--nina:hover > span:nth-child(1) {
		-webkit-transition-delay: 0.045s;
		transition-delay: 0.045s;
	}
	.button--nina:hover > span:nth-child(2) {
		-webkit-transition-delay: 0.09s;
		transition-delay: 0.09s;
	}
	.button--nina:hover > span:nth-child(3) {
		-webkit-transition-delay: 0.135s;
		transition-delay: 0.135s;
	}
	.button--nina:hover > span:nth-child(4) {
		-webkit-transition-delay: 0.18s;
		transition-delay: 0.18s;
	}
	.button--nina:hover > span:nth-child(5) {
		-webkit-transition-delay: 0.225s;
		transition-delay: 0.225s;
	}
	.button--nina:hover > span:nth-child(6) {
		-webkit-transition-delay: 0.27s;
		transition-delay: 0.27s;
	}
	.button--nina:hover > span:nth-child(7) {
		-webkit-transition-delay: 0.315s;
		transition-delay: 0.315s;
	}
	.button--nina:hover > span:nth-child(8) {
		-webkit-transition-delay: 0.36s;
		transition-delay: 0.36s;
	}
	.button--nina:hover > span:nth-child(9) {
		-webkit-transition-delay: 0.405s;
		transition-delay: 0.405s;
	}
	.button--nina:hover > span:nth-child(10) {
		-webkit-transition-delay: 0.45s;
		transition-delay: 0.45s;
	}
	.button--nina:hover > span:nth-child(11) {
		-webkit-transition-delay: 0.495s;
		transition-delay: 0.49.5s;
	}
	.button--nina:hover > span:nth-child(12) {
		-webkit-transition-delay: 0.54s;
		transition-delay: 0.54s;
	}
	.button--nina:hover > span:nth-child(13) {
		-webkit-transition-delay: 0.585s;
		transition-delay: 0.58.5s;
	}
	.button--nina:hover > span:nth-child(14) {
		-webkit-transition-delay: 0.63s;
		transition-delay: 0.63s;
	}
	.button--nina:hover > span:nth-child(15) {
		-webkit-transition-delay: 0.675s;
		transition-delay: 0.67.5s;
	}
	.button--nina:hover > span:nth-child(16) {
		-webkit-transition-delay: 0.72s;
		transition-delay: 0.72s;
	}
	.button--nina:hover > span:nth-child(17) {
		-webkit-transition-delay: 0.765s;
		transition-delay: 0.76.5s;
	}
	.button--nina:hover > span:nth-child(18) {
		-webkit-transition-delay: 0.81s;
		transition-delay: 0.81s;
	}
	.button--nina:hover > span:nth-child(19) {
		-webkit-transition-delay: 0.855s;
		transition-delay: 0.855s;
	}

	button, html input[type="button"], input[type="reset"], input[type="submit"] {
	    -webkit-appearance: button;
	    cursor: pointer;
	}
	button, select {
	    text-transform: none;
	}
	button, input {
		line-height: normal;
	}
	button, input, select, textarea {
	    font-family: inherit;
	    font-size: 100%;
	    margin: 0;
	}
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	width: 100%;
    min-height: 128px;
    z-index: 3;
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
    color: #fff;

    .progressContainer{
	  	position: fixed;
	  	top: 72px;
	  	left: 0;
	  	width: 100%;
	}

	.progress{
	  	height: 5px;
	  	background: #e0d2b1 ;
	  	width: 0;
	  	transition: width 0.5s;
	}
	
	#logo {
		padding: 15px 0 0 0;
	}

    #logo img {
		width: 250px; 
    }

	nav {
		padding: 48px 0px 0px 0px;
		text-align: center;
		font-family: roboto;

		ul {
			li {
				display: inline-block;
				list-style-type: none;
				padding: 11px 13px;
				font-size: 18px;
				letter-spacing: 2px;

				a {
					text-decoration: none;
					color: inherit;
					outline: none;
					color: #fff;
					text-decoration: none;
					text-shadow: 0 0 1px rgba(255,255,255,0.3);
					position: relative;

					:hover,:focus {
						outline: none;
					}
				}
			}
		}
	}

	/*Hover effect*/
	.hover-effect {
		a {
			padding: 10px 0 10px 0;
			color: #fff;
			text-shadow: none;
			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
			transition: color 0.3s;
		}
	}

	.hover-effect a::before,
	.hover-effect a::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: #fff;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.hover-effect a::before {
		top: 0;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.hover-effect a::after {
		bottom: 0;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}

	.hover-effect a:hover,
	.hover-effect a:focus {
		color: #fff;
	}

	.hover-effect a:hover::before,
	.hover-effect a:focus::before,
	.hover-effect a:hover::after,
	.hover-effect a:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}

	#headersocial {
		padding: 50px 0 0 0;

		img {
			width: 30px;
		}
	}
}

/*MOBILE NAV*/
.mobile-nav {
	position: fixed;
	bottom: 0;
	z-index: 9;
	height: 64px;
	width: 100%;
	font-size: 0px;
	color: #fff;
	text-transform: uppercase;
	background-color: #6B614D;
	display: none;

	img {
		width: 24px;
	}

	.btn {
		height: 100%;
		width: 100%;
		border-radius: 0px;
	}

	.btn-accueil {
		border-right: 1px solid #fff;
	
		img {
			width: 20px;
			padding-top: 5px;
		}
	}

	.btn-about {
		border-right: 1px solid #fff;
		background-color: #e0d2b1;

		img {
			width: 21px;
			padding-top: 6px;
		}
	}

	.btn-menu {
		border-right: 1px solid #fff;

		img {
			width: 30px;
			padding-top: 8px;
		}
	}

	.btn-booking {
		border-right: 1px solid #fff;
		
		img {
			width: 21px;
			padding-top: 5px;
		}
	}

	.btn-delivery {
		border-right: 1px solid #fff;
	
		img {
			width: 25px;
			padding-top: 7px;
		}
	}

	.btn-contact {

		img {
			width: 17px;
			padding-top: 4px;
		}
	}

	.text {
		font-size: 13px;
	    bottom: 8px;
	    position: absolute;
	    top: 73%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}

/* MAIN */
main {

	/* A PROPOS*/
	section:first-child {
		height: 500px;
		background: url("../images/about/background.jpg") no-repeat;
		background-attachment: fixed;
    	background-position: 50% top;
    	background-size: 100% 100vh;
		
		#headerdesc {
			padding: 150px 0px;
		}

		h1 {
			font-size: 70px;
			color: #FFF;
			z-index: 2;
			margin: 0 auto;
			padding: 30px 0;
			letter-spacing: 8px;
		}

		button {
			border: 2px solid #ffffff;
			z-index: 2;
			margin: 0 auto;
			background-color: transparent;
			
			a {
				text-decoration: none;
				color: #fff;
				font-size: 14px;
				letter-spacing: 2px;
				font-weight: initial;
				display: inline-block;
				text-transform: uppercase;
				padding: 17px 28px;
			}
		}

		button:hover {
			background-color: #6B614D;
			color: #fff;

			a {
				color: #fff;
			}
		}

		a {
			margin: 0 auto;
		}
	}

	/* NAV */
	section:nth-child(2) {
		padding: 50px 0;
		background-color: #F4F4F4;
		position: relative;

		.row {
			padding: 5% 0;
		}

		.arrow {
			width: 19px;
		    height: 21px;
		    display: none;
		    padding: 1px 0 0 4px;
		}

		img {
			width: auto;
			height: 380px;
		}

		h3 {
			font-size: 17px;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 10px 0;
			font-weight: 400;
		}

		h4 {
			font-size: 50px;
			cursor: pointer;
		}

		p {
			text-align: center;
			margin-bottom: 4%;
			line-height: 30px;
		}

		li {
			padding-bottom: 15px;
			list-style-type: circle;
		}

		button {
			border: 2px solid #000000;
			background-color: transparent;

			a {
				text-decoration: none;
				color: #000;
				font-size: 11px;
				letter-spacing: 2px;
				font-weight: initial;
				display: inline-block;
				text-transform: uppercase;
				padding: 14px 28px;
			}
		}
	}

	/* LE LIEU */
	section:nth-child(3) {
		margin-top: 72px;
		margin-bottom: 72px;
		
		h3 {
		    font-size: 20px;
		    font-weight: 400;
		    margin-bottom: 20px;
		    letter-spacing: 2px;
		}

		/* RESTAURANT */
		article:nth-child(2) {
			padding: 70px 0;
			background-color: #FFF;

			#restaurantdisplay, #restaurantreduce {
				display: none;
			}

			img {
				width: 100%;;
				height: 380px;
			}

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
				margin: 4% 40px 9px 0;
				text-align: right;
			}

			h4 {
				font-size: 50px;
				text-align: right;
				margin: 20px 40px 9px 0;
			}

			.title {
				font-size: 20px;
				line-height: 30px;
				margin: 0 40px 4.7% 0;
				text-align: right;
				font-weight: 900;
			}
			
			.desc {
				font-size: 15px;
			    line-height: 35px;
				text-align: right;
				width: 90%;
				margin: 0 40px 4.7% 4%;
			}

			.button--nina {
				color: #6B614D;
				font-size: 14px;
				outline: 0;
				padding: 3.5px 28px;

				span {
					font-size: 12px;
				}
			}
			
			#restaurantseemenu {
				display: inline-block;
				float: right;
			}
			
			#restaurantseemore {
				display: inline-block;
				margin-left: 40px;
				float: right;
				margin-right: 40px;
			}

			#restaurantreduce {
				float: right;
				margin-right: 40px;
			}

			button {
			    border: 2px solid #6B614D;
			    background-color: transparent;

				a {
					text-decoration: none;
				    color: #000;
				    font-size: 11px;
				    letter-spacing: 2px;
				    font-weight: initial;
				    display: inline-block;
				    text-transform: uppercase;
				    padding: 14px 28px;
				}
			}

			button:hover {
				background-color: #6B614D;
				color: #fff;

				a {
					color: #fff;
				}
			}
		}

		/* BAR */
		article:nth-child(3) {
			padding: 50px 0;
			background-color: #FFF;

			#bardisplay, #barreduce {
				display: none;
			}

			img {
				height: 380px;
				width: 100%;
			}

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    margin: 3.5% 0 3% 40px;
			}

			h4 {
				font-size: 50px;
				text-align: left;
				margin: 20px 0 9px 40px;
			}

			.title {
				font-size: 20px;
				line-height: 30px;
				margin: 0 0 4.7% 40px;
				font-weight: 900;
			}
			
			.desc {
				font-size: 15px;
			    line-height: 35px;
				margin: 0 0 24px 40px;
			}

			.button--nina {
				padding: 3.5px 28px;
				color: #6B614D;
				font-size: 14px;
				outline: 0;

				span {
					font-size: 12px;
				}
			}

			#barseecarte {
				display: inline-block;
				float: left;
			}

			#barseemore {
				display: inline-block;
				float: left;
			}

			button {
			    border: 2px solid #6B614D;
			    background-color: transparent;
			    margin-left: 40px;;

				a {
					text-decoration: none;
				    color: #000;
				    font-size: 11px;
				    letter-spacing: 2px;
				    font-weight: initial;
				    display: inline-block;
				    text-transform: uppercase;
				    padding: 14px 28px;
				}
			}

			button:hover {
				background-color: #6B614D;
				color: #fff;

				a {
					color: #fff;
				}
			}
		}

		/*L'ECAILLE */
		article:last-child {
			padding: 50px 0;
			background-color: #FFF;

			#ecailledisplay, #ecaillereduce {
				display: none;
			}

			img {
				width: 100%;
				height: 380px;
			}

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
				margin: 3.5% 40px 3% 0;
				text-align: right;
			}

			h4 {
				font-size: 50px;
				text-align: right;
				margin: 20px 40px 9px 0;
			}

			.title {
				font-size: 20px;
				line-height: 30px;
				margin: 0 40px 4.7% 0;
				text-align: right;
				font-weight: 900;
			}
			
			.desc {
				font-size: 15px;
			    line-height: 35px;
				margin: 0 40px 4.7% 0;
				text-align: right;
			}

			.button--nina {
				padding: 3.5px 28px;
				color: #6B614D;
				font-size: 14px;
				outline: 0;

				span {
					font-size: 12px;
				}
			}

			#ecailleseecarte {
				display: inline-block;
				float: right;
			}

			#ecailleseemore {
				display: inline-block;
				margin-left: 40px;
				float: right;
				margin-right: 40px;
			}

			#ecaillereduce {
				float: right;
				margin-right: 40px;
			}

			button {
			    border: 2px solid #6B614D;
			    background-color: transparent;

				a {
					text-decoration: none;
				    color: #000;
				    font-size: 11px;
				    letter-spacing: 2px;
				    font-weight: initial;
				    display: inline-block;
				    text-transform: uppercase;
				    padding: 14px 28px;
				}
			}

			button:hover {
				background-color: #6B614D;
				color: #fff;

				a {
					color: #fff;
				}
			}
		}
	}
	
	/* HISTOIRE */
	section:nth-child(4) {
		margin-top: 50px;
		margin-bottom: 50px;
		
		h3 {
		    font-size: 17px;
		    font-weight: 400;
		    margin-bottom: 20px;
		    letter-spacing: 2px;
		}

		/* 1935 */
		article:nth-child(2) {
			padding: 70px 0;
			background-color: #FFF;

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
				margin: 12% 0 3% 28px;
				text-align: left;
			}

			h4 {
				font-size: 50px;
				text-align: left;
				margin: 0 0 17px 25.5px;
			}

			p.desc {
				font-size: 15px;
	    		line-height: 35px;
	    		letter-spacing: 0;
				margin: 0 38px 4.7% 5%;
				text-align: left;
			}

			img {
				width: 100%;
				height: 380px;
			}
		}

		/* 2000 */
		article:nth-child(3) {
			background-color: #FFF;
			padding: 50px 0;

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
				margin: 14.5% 28px 3% 0;
				text-align: right;
			}

			h4 {
				font-size: 50px;
				text-align: right;
				margin: 0 25.5px 17px 0;
			}

			p.desc {
				font-size: 15px;
	    		line-height: 35px;
				letter-spacing: 0;
				margin: 0 5% 4.7% 40px;
				text-align: right;
			}

			img {
				width: 100%;
				height: 380px;
			}
		}

		/* 2006 */
		article:nth-child(4) {
			padding: 50px 0;
			background-color: #FFF;

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
				margin: 9% 0 3% 28px;
				text-align: left;
			}

			h4 {
				font-size: 50px;
				text-align: left;
				margin: 0 0 17px 25.5px;
			}

			p.desc {
				font-size: 15px;
	    		line-height: 35px;
	    		letter-spacing: 0;
				margin: 0 40px 4.7% 5%;
				text-align: left;
			}

			img {
				width: 100%;
				height: 380px;
			}
		}

		/* 2017 */
		article:last-child {
			padding: 50px 0;
			background-color: #FFF;

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
				margin: 9.5% 28px 3% 0;
				text-align: right;
			}

			h4 {
				font-size: 50px;
				text-align: right;
				margin: 0 29.5px 17px 0;
			}
			
			p.desc {
				font-size: 15px;
	    		line-height: 35px;
	    		letter-spacing: 0;
				margin: 0 5% 4.7% 0px;
				text-align: right;
			}

			img {
				width: 100%;
				height: 380px;
			}
		}
	}

	/* L'ACTUALITE*/
	section:last-child {
		margin-top: 72px;
		margin-bottom: 72px;
		
		h3 {
		    font-size: 17px;
		    font-weight: 400;
		    margin-bottom: 20px;
		    letter-spacing: 2px;
		}

		img {
			width: 100%;
			height: 320px;
		}

		article {
			padding: 70px 0;
			background-color: #ffffff;

			img {
				width: 300px;
				height: 400px;
				margin: 0 auto;
				display: block;
			}

			h3 {
				font-size: 17px;
			    font-weight: 400;
			    text-transform: uppercase;
			    letter-spacing: 2px;
				margin:0% 40px 3% 0;
				text-align: right;
			}

			h4 {
				font-size: 45px;
				text-align: right;
				margin-right: 40px;
				margin-bottom: 3%;
			}

			.title {
				font-size: 20px;
			    line-height: 30px;
			    margin: 0 40px 4.7% 0;
				text-align: right;
				font-weight: 900;
			}
			
			.desc {
				font-size: 15px;
			    line-height: 35px;
			    margin: 0 40px 4.7% 0;
				text-align: right;
			}

			.button--nina {
				padding: 3.5px 28px;
				color: #6b614d;
				font-size: 14px;
				margin-right: 40px;

				span {
					font-size: 12px;
				}
			}

			button {
			    border: 2px solid #6b614d;
			    background-color: transparent;

				a {
					text-decoration: none;
				    color: #000000;
				    font-size: 11px;
				    letter-spacing: 2px;
				    font-weight: initial;
				    display: inline-block;
				    text-transform: uppercase;
				    padding: 14px 28px;
				}
			}

			button:hover {
				background-color: #6b614d;
				color: #ffffff;

				a {
					color: #ffffff;
				}
			}
		}
	}
}

/* FOOTER */
footer {
	margin: 1.5% 0%;

	img {
		width: 145px;
	}
	
	input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.btn-credits {
	    display: inline-block;
	    margin-right: 50px;
	    text-transform: uppercase;
	    text-decoration: none;
	    color: #0e2046;
	    padding: 3.5%;
	}

	.form-newsletter {
	    display: inline-block;
	    position: relative;
	    margin: 3px 25px 0 0;
	}

	.form-newsletter label {
	    text-transform: uppercase;
	    color: #7b7b7b;
	    margin-right: 22px;
	    font-size: 13px;
	}

	.form-newsletter input.input-text {
    	padding: 14px 14px 14px 19px;
    	width: auto;
	}

	.form-newsletter input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.form-newsletter .border-newsletter {
	    display: inline-block;
	    width: 1px;
	    height: 20px;
	    padding: 14px 0;
	    margin: 0 0 0 -3px;
   	}

   	.form-newsletter input.btn-submit {
	    cursor: pointer;
	    color: #040404;
	    margin-left: -2px;
	    margin-top: 0px;
	}
	
	.form-newsletter input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.form-newsletter .form-message.valid {
    	color: #145214;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}

	.form-newsletter .form-message.valid-error, footer .form-newsletter .form-message.error {
    	color: #B20000;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}

	.form-newsletter .form-message.error {
    	color: #B20000;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}
}

/************** RESPONSIVE ***************/

/* MEDIA QUERIES MAX WIDTH 1325PX */
@media all and (max-width : 1325px) {

	#headersocial {
		position: absolute;
		right: 30%;
	}

	header {

		.progressContainer {
			top: 69px;
		}

		nav ul li {
			font-size: 16px;
		}
	}

	footer {
		height: 110px;
	}
}

/* MEDIA QUERIES MAX WIDTH 1237PX*/
@media all and (max-width : 1237px) {
	#headersocial {
		position: absolute;
		right: -290%;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	main section:nth-child(2) {

		img {
			margin: 75px 0 0 -30px;
			width: 260px
		}
	}

	main section:nth-child(4) {
		.container {
			width: 100%;
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 992PX */
@media all and (max-width : 992px) {

	body {
		overflow-x :hidden;
		width: 100%;
	}

	#headersocial {
		position: absolute;
		right: -290%;
	}

	#progress {
		display: none;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	.hovermenu2, .hovermenu4 {
		margin-top: 40px;
	}

	#swiperrestaurant {
		height: 300px;
	}

	header .progressContainer {
		top: 69px;
	}

	main section:first-child {
	    background-position: 50% top;
    	background-size: 100% 80vh;

		h1 {
			font-size: 60px;
		}
	}

	main section:nth-child(2) {
		h4 {
			margin: 3% 0;
		}
	}

	main section:nth-child(3) {
		#restaurantseemore {
			left: -180px;
			margin-bottom:50px; 
		}

		#restaurantreduce {
			left: -197px;
			margin-bottom: 50px;
		}

		#barseemore {
			right: -180px;
			margin-bottom: 50px;
		}

		#barreduce {
			left: 180px;
			margin-bottom: 50px;
		}

		#ecailleseemore {
			left: -180px;
			margin-bottom: 50px;
		}

		#ecaillereduce {
			left: -197px;
			margin-bottom: 50px;
		}

		article:nth-child(2) {

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}
			
			h3 {
				text-align: center;
				margin-right: 0;
			}

			h4 {
				text-align: center;
				margin-right: 0;
			}

			.title {
				text-align: center;
				margin-right: 0;
				font-weight: 900;
			}

			.desc {
				text-align: center;
				margin-right: 0;
			}

			#restaurantseemenu {
				margin-right: -47%;
			}

			#restaurantseemore {
				margin-right: 22.8%; 
			}
		}

		article:nth-child(3) {

			img {
				margin-bottom: 30px;
			}
			
			h3 {
				text-align: center;
				margin-left: 0;
			}

			h4 {
				text-align: center;
				margin-left: 0;
			}

			.title {
				text-align: center;
				margin-left: 0;
				font-weight: 900;
			}

			.desc {
				text-align: center;
				margin-left: 0;
			}

			#barseecarte {
				margin-right: -30%;
				float: left;
			}

			#barseemore {
				float: left;
			    margin-right: 27%;
    			margin-left: -14.3%; 
			}
		}

		article:last-child {

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}
			
			h3 {
				text-align: center;
				margin-right: 0;
			}

			h4 {
				text-align: center;
				margin-right: 0;
			}

			.title {
				text-align: center;
				margin-right: 0;
				font-weight: 900;
			}

			.desc {
				text-align: center;
				margin-right: 0;
			}

			#ecailleseecarte {
				margin-right: -48.5%;
			}

			#ecailleseemore {
    			margin-right: 22.8%;
			}

		}
	}

	main section:nth-child(4) {
		margin-bottom: 0;

		article:nth-child(2){
			h3 {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0;
			}

			h4 {
				margin: 0 auto;
				text-align: center;
			}

			p.desc {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0 7% 0;
			}

			img {
			    width: 100%;
			    height: 380px;
			    margin: 0 auto;
			    display: block;
			}
		}

		article:nth-child(3){
			h3 {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0;
			}

			h4 {
				margin: 0 auto;
				text-align: center;
			}

			p.desc {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0 7% 0;
			}

			img {
			    width: 100%;
			    height: 380px;
			    margin: 0 auto;
			    display: block;
			}
		}

		article:nth-child(4){
			h3 {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0;
			}

			h4 {
				margin: 0 auto;
				text-align: center;
			}

			p.desc {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0 7% 0;
			}

			img {
			    width: 100%;
			    height: 380px;
			    margin: 0 auto;
			    display: block;
			}
		}

		article:nth-child(5){
			h3 {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0;
			}

			h4 {
				margin: 0 auto;
				text-align: center;
			}

			p.desc {
				margin: 0 auto;
				text-align: center;
				margin: 3% 0 7% 0;
			}

			img {
			    width: 100%;
			    height: 380px;
			    margin: 0 auto;
			    display: block;
			}
		}
	}

	main section:nth-child(5) {
		height: 550px;

		.swiper-button-next, .swiper-button-prev {
			display: none;
		}

		div.img {
			display: none;
		}

		img {
			display: none;
		}

		button {
			width: 100%;
			margin-top: 10px;
		}
	}

	main section:last-child {
		height: 820px;

		#contact {
			position: absolute;
			top: 600px;
			left: 20px;
			height: 400px;
		}

		#map {
			height: 570px;
		}

		article {
			h3 {
				margin-right: 0;
				text-align: center;
				margin-bottom: 7%;
			}

			h4 {
				margin: 0 auto;
				text-align: center;
				margin-bottom: 3%;
			}

			.title {
				text-align: center;
				margin-right: 0;
				font-weight: 900;
			}

			.desc {
				text-align: center;
				margin-right: 0;
			}
		}
	}

	footer {
		height: 130px;

		.btn-credits {
			padding: 10% 0%;
			margin-left: -17%
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 780PX */
@media all and (max-width : 780px) {
	body {
		overflow-x: hidden;
	}

	header .progressContainer {
		top: 69px;
	}

	header #headersocial {
		width: 100px;
		position: absolute;
		right: -322%;
	}

	#progress {
		display: none;
	}

	body .menudevice {
		display: block;
	}

	.menudevice {
		font-size: 70px;
    	color: #2A6993;
		display: block;
	}

	div.row-reverse {
		flex-direction: row;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	main section:first-child {
		background: url("../images/about/background.jpg") no-repeat;
		background-position: bottom;

		h1 {
			font-size: 60px;
		}

		h2 {
			font-size: 20px;
		}
	}

	main section:nth-child(2) {
		h3 {
			margin-top: 20px;
			font-size: 20px;
		}

		#h3menu {
			margin-top: -5px;
		}
	}

	main section:nth-child(3) {
		h4.menudevice {
			font-size: 80px;
		}
		
		article:nth-child(2) {

			h4.menudevice {
				font-size:55px;
				margin-bottom: 20px;
			}

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}

			img {
				margin-top: 5%;
				width: 100%;
    			margin-left: 0%;
			}
			
			h3 {
				margin-top: 30px;
				text-align: center;
				margin-right: 0;
			}

			p.title {
				text-align: center;
				margin-right: 0;
				font-size: 25px;
				line-height: 40px;
			}

			p.desc {
				margin: 0 auto;
				margin-left: 30px;
				margin-bottom: 30px;
				text-align: center;
				width: 90%;
				font-size: 18px;
			}

			button {
				right: 28%;
			}

			#restaurantseemore {
				margin-right: 160px;
			}

			#restaurantseemenu {
				margin-right: -490px;
			}
		}

		article:nth-child(3) {
			
			h4.menudevice {
				font-size: 55px;
				margin-bottom: 20px;
			}

			img {
				margin-top: 5%;
				margin-bottom: 15px;
				width: 100%;
    			margin-left: 0%;
			}
			
			h3 {
				text-align: center;
				margin-left: 0;
			}

			p.title {
				text-align: center;
				margin-left: 0;
				font-size: 25px;
				line-height: 40px;
			}

			p.desc {
				margin: 0 auto;
				margin-left: 30px;
				margin-bottom: 30px;
				text-align: center;
				width: 90%;
				font-size: 18px;
			}	

			button {
				left: 28%;
			}

			#barseemore {
				margin-left: -91px;
			}

			#barseecarte {
				margin-left: -133px;
			}
		}

		article:nth-child(4) {
			h4.menudevice {
				font-size: 55px;
				margin-bottom: 20px;
			}

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}

			img {
				margin-top: 5%;
				margin-bottom: 15px;
				width: 100%;
    			margin-left: 0%;
			}
			
			h3 {
				text-align: center;
				margin-right: 0;
			}

			p.title {
				text-align: center;
				margin-left: 90px;
				font-size: 25px;
				line-height: 40px;
				width: 70%;
			}

			p.desc {
				margin: 0 auto;
				margin-left: 30px;
				margin-bottom: 30px;
				text-align: center;
				width: 90%;
				font-size: 20px;
			}

			button {
				right: 28%;
			}

			#ecailleseemore {
				margin-right: 160px;
			}

			#ecailleseecarte {
				margin-right: -499px;
			}
		}

		article:last-child {
			#ecaillereduce {
				float: none;
				left: 36.7%;
				margin-bottom: 40px;
			}
		}

		#restaurantseemore {
			left: -27.7%;
			margin-bottom:50px; 
		}

		#restaurantreduce {
			left: -31%;
			margin-bottom: 50px;
		}

		#barseemore {
			left: 27.4%;
			margin-bottom:50px; 
		}

		#barreduce {
			left: 30.8%;
			margin-bottom: 50px;
		}

		#ecailleseemore {
			left: -27.7%;
			margin-bottom:50px; 
		}
	}

	main section:nth-child(4) {
		margin-bottom: 0;

		h3 {
			font-size: 20px;
		}

		h4.menudevice {
			font-size: 80px;
		}

		article:nth-child(2) {
			padding: 80px 0 50px 0;

			h4.menudevice {
			    font-size: 55px;
			    margin-bottom: 20px;
			}

			h3 {
				margin: 0 auto;
				text-align: center;
				margin-bottom: 3%;
			}

			p.desc {
				font-size: 15px;
				margin: 0 auto;
				text-align: center;
				width: 80%;
				margin-bottom: 30px;
				font-size: 20px;
			}

			img {
			    width: 100%;
			}
		}

		article:nth-child(3) {
			padding: 80px 0 50px 0;

			h4.menudevice {
			    font-size: 55px;
			    margin-bottom: 20px;
			}

			h3 {
				margin: 0 auto;
				text-align: center;
				margin-bottom: 3%;
			}

			p.desc {
				font-size: 15px;
				margin: 0 auto;
				text-align: center;
				width: 80%;
				margin-bottom: 30px;
				font-size: 20px;
			}

			img {
			    width: 100%;
			}
		}

		article:nth-child(4) {
			padding: 80px 0 50px 0;

			h4.menudevice {
			    font-size: 55px;
			    margin-bottom: 20px;
			}

			h3 {
				margin: 0 auto;
				text-align: center;
				margin-bottom: 3%;
			}

			p.desc {
				font-size: 15px;
				margin: 0 auto;
				text-align: center;
				width: 80%;
				margin-bottom: 30px;
				font-size: 20px;
			}

			img {
			    width: 100%;
			}
		}

		article:nth-child(5) {

			padding: 80px 0 50px 0;

			h4.menudevice {
			    font-size: 55px;
			    margin-bottom: 20px;
			}

			h3 {
				margin: 0 auto;
				text-align: center;
				margin-bottom: 3%;
			}

			p.desc {
				font-size: 15px;
				margin: 0 auto;
				text-align: center;
				width: 80%;
				margin-bottom: 30px;
				font-size: 20px;
			}

			img {
			    width: 100%;
			}
		}
	}
		
	main section:last-child {
		margin-top: 60px;
		height: 600px;

		h3 {
			font-size: 20px;
		}

		h4.menudevice {
		    font-size: 80px;
		    margin-bottom: 50px;
		    margin-top: 20px;
		}

		article {
			padding: 40px 0; 

			h4.menudevice {
			    font-size: 50px;
			    margin-bottom: 20px;
			    margin-top: -20px;
			}

			p.title {
				text-align: center;
				margin-right: 0;
				font-size: 25px;
				line-height: 40px;
			}

			p.desc {
				margin: 0 auto;
				margin-left: 60px;
				margin-bottom: 30px;
				text-align: center;
				width: 80%;
				font-size: 20px;
			}

			button {
				margin: 40px 0 30px 158px;
				width: 50%;
			}

			img {
				margin-top: 20px;
				width: 50%;
				height: 70%;
			}
		}
	}

	footer {
		height: 160px;
		margin-top: 1700px;

		.btn-credits {
		    margin: 7px 0px 0px -10px;
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 414PX */
@media all and (max-width : 414px) {
	body {
		overflow-x :hidden;
	}

	header #headersocial {
		display: none;
	}

	#progress {
		display: none;
	}

	body .menudevice {
		font-size: 35px;
	}

	.mobile-nav .text {
		font-size: 10px;
		bottom: 8px;
		position: absolute;
		top: 73%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	main section:first-child {
		height: 92%;
		background-size: 350% 110%;

		#headerdesc {
			padding-top: 170px;
		}

		h1 {
			font-size : 45px;
		}
	}

	main section:nth-child(2) {
		
		h3 {
			margin-top: 20px;
			text-align: center;
			margin-left: 0;
		}
	}

	main section:nth-child(3) {

		h4.menudevice {
			font-size: 55px;
		}

		h3 {
			margin-top: 20px;
			text-align: center;
			margin-left: 0;
			font-size: 16px;
		}

		article:nth-child(2) {
			padding: 50px 0;

			#restaurantseemore {
				margin: 0 auto;
				display: block;
				left: -17%;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			#restaurantseemenu {
				margin-right: -11%;
				width: 215px;
			}

			#restaurantreduce {
				margin: 0 auto;
				margin-top: 20px;
				margin-bottom: 40px;
				left: -23.3%;
			}

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}
			
			h3 {
				margin-top: 20px;
				text-align: center;
				margin-left: 0;
				font-size: 12px;
			}

			h4.menudevice {
				font-size: 35px;
			}

			p.title {
				text-align: center;
				margin: 0 auto;
				display: block;
				font-size: 20px;
				margin-bottom: 3%;
				font-weight: 400;
				line-height: 30px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
			}

			img {
				height: auto;
			    width: 128%;
    			margin-left: -45px;
			}

			button.button--nina {
				margin: 0 -90px 30px 140px
			}
		}

		article:nth-child(3) {
			padding: 25px 0;

			img {
				margin-bottom: 30px;
				height: auto;
			 	width: 128%;
    			margin-left: -45px;
			}
			
			h3 {
				margin-top: 20px;
				text-align: center;
				margin-left: 0;
				font-size: 12px;
			}

			h4.menudevice {
				font-size: 35px;
			}

			p.title {
				text-align: center;
				margin: 0 auto;
				display: block;
				font-size: 20px;
				margin-bottom: 3%;
				font-weight: 400;
				line-height: 30px;
				width: 80%;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
			}

			#barseemore {
				margin: 0 auto;
				left: 17%;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			#barseecarte {
				margin-left: -77.5%;
				margin-top: 80px;
				width: 215px;
			}

			#barreduce {
				margin: 0 auto;
				margin-top: 20px;
				left: 23.3%;
				margin-bottom: 40px;
			}

			button.button--nina {
				margin: 0 90px 30px -30px
			}
		}

		article:nth-child(4) {
			padding: 25px 0;

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}
			
			h3 {
				margin-top: 20px;
				text-align: center;
				margin-left: 0;
				font-size: 12px;
			}

			h4.menudevice {
				font-size: 35px;
			}

			p.title {
				text-align: center;
				margin: 0 auto;
				display: block;
				font-size: 20px;
				margin-bottom: 3%;
				font-weight: 400;
				line-height: 30px;
				width: 80%;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
			}

			img {
				height: auto;
				width: 128%;
    			margin-left: -45px;
			}

			#ecailleseemore {
				margin: 0 auto;
				display: block;
				left: -17%;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			#ecailleseecarte {
				margin-right: -11%;
				width: 215px;
			}

			#ecaillereduce {
				margin: 0 auto;
				margin-top: 20px;
				left: 23.3%;
				margin-bottom: 40px;
			}

			button.button--nina {
				margin: 0 -90px 30px 140px
			}
		}
	}

	main section:nth-child(4) {
		margin-bottom: 0;
		margin-top: -20px;

		h4.menudevice {
			font-size: 55px;
		}

		h3 {
			margin-top: 20px;
			text-align: center;
			margin-left: 0;
			font-size: 16px;
		}

		article:nth-child(2){
			padding: 50px 0 25px 0;

			h4.menudevice {
				font-size: 35px;
			}
			
			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
				margin-bottom: 30px;
			}

			h3 {
				text-align: center;
				margin-right: 0;
			}

			img {
    			height: auto;
    			width: 129%;
    			margin-left: -44.5px;
			}
		}

		article:nth-child(3){
			padding: 50px 0 25px 0;

			h4.menudevice {
				font-size: 35px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
				margin-bottom: 30px;
			}

			h3 {
				text-align: center;
				margin-left: 0;
			}

			img {
    			height: auto;
    			width: 128%;
    			margin-left: -46px;
			}
		}

		article:nth-child(4){
			padding: 50px 0 25px 0;

			h4.menudevice {
				font-size: 35px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
				margin-bottom: 30px;
			}

			h3 {
				text-align: center;
				margin-right: 0;
			}

			img {
    			height: auto;
    			width: 128%;
    			margin-left: -45px;
			}
		}

		article:nth-child(5){
			padding: 50px 0 25px 0;

			h4.menudevice {
				font-size: 35px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
				margin-bottom: 30px;
			}

			h3 {
				text-align: center;
				margin-left: 0;
			}

			img {
    			height: auto;
    			width: 128%;
    			margin-left: -45px;
			}
		}
	}

	main section:last-child {

		h4.menudevice {
			font-size: 55px;
			margin-bottom: 30px;
		}

		h3 {
			margin-top: 20px;
			text-align: center;
			margin-left: 0;
			font-size: 16px;
		}

		article {
			padding: 25px 0;

			h4.menudevice {
				font-size: 35px;
			}

			h3 {
				margin-bottom: 13%;
			}

			img {
				height: 250px;
				width: 180px;
				margin-top: 30px;
			}

			p.title {
				text-align: center;
				margin: 0 auto;
				display: block;
				font-size: 18px;
				margin-bottom: 20px;
				width: 90%;
				font-weight: 400;
				line-height: 30px;
				margin-bottom: 20px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				width: 100%;
			}

			button {
				height: 53px;
				margin-left: 30px;
				margin-bottom: 0px;
				margin-top: 20px;
				width: 80%;
			}
		}
	}

	footer {

		height: 290px;
		margin-top: 1160px;

		.form-newsletter {
			margin-right: 11px;

			label {
				margin-right: 0;
			}
		}

		a.btn {
			padding: 8% 13%;
		}

		img {
			margin-top: 20px;
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 375PX */
@media all and (max-width : 375px) {
	main section:nth-child(3) {

		h4.menudevice {
			font-size: 55px;
		}

		h3 {
			margin-top: 20px;
			text-align: center;
			margin-left: 0;
			font-size: 16px;
		}

		article:nth-child(2) {
			padding: 50px 0;

			#restaurantseemore {
				margin: 0 auto;
				display: block;
				left: -9.3vw;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			#restaurantseemenu {
				margin-right: -11.9vw;
				width: 215px;
			}

			#restaurantreduce {
				margin: 0 auto;
				margin-top: 20px;
				margin-bottom: 40px;
				left: -20.1%;
			}

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}
			
			h3 {
				margin-top: 20px;
				text-align: center;
				margin-left: 0;
				font-size: 12px;
			}

			h4.menudevice {
				font-size: 35px;
			}

			p.title {
				text-align: center;
				margin: 0 auto;
				display: block;
				font-size: 20pxpx;
				margin-bottom: 3%;
				font-weight: 900;
				line-height: 30px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
			}

			img {
    			height: auto;
    			width: 132%;
    			margin-left: -46px;
			}

			button.button--nina {
				margin: 0 -90px 30px 140px
			}
		}

		article:nth-child(3) {
			padding: 25px 0;

			img {
    			height: auto;
    			width: 132%;
    			margin-left: -46px;
			}
			
			h3 {
				margin-top: 20px;
				text-align: center;
				margin-left: 0;
				font-size: 12px;
			}

			h4.menudevice {
				font-size: 35px;
			}

			p.title {
				text-align: center;
				margin: 0 auto;
				display: block;
				font-size: 20pxpx;
				margin-bottom: 3%;
				font-weight: 900;
				line-height: 30px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
			}

			#barseemore {
				margin: 0 auto;
				left: 9.3vw;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			#barseecarte {
				margin-left: -11.9vw;
				width: 215px;
				margin-top: 0px
			}

			#barreduce {
				margin: 0 auto;
				margin-top: 20px;
				left: 20.1%;
				margin-bottom: 40px;
			}

			button.button--nina {
				margin: 0 90px 30px -30px
			}
		}

		article:nth-child(4) {
			padding: 25px 0;

			div:first-child.col-lg-12 {
				margin-bottom: 80px;
			}
			
			h3 {
				margin-top: 20px;
				text-align: center;
				margin-left: 0;
				font-size: 12px;
			}

			h4.menudevice {
				font-size: 35px;
			}

			p.title {
				text-align: center;
				margin: 0 auto;
				display: block;
				font-size: 20pxpx;
				margin-bottom: 3%;
				font-weight: 900;
				line-height: 30px;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
			}

			img {
    			height: auto;
    			width: 132%;
    			margin-left: -46px;
			}

			#ecailleseemore {
				margin: 0 auto;
				display: block;
				left: -9.3vw;
				margin-top: 20px;
				margin-bottom: 10px;
			}

			#ecailleseecarte {
				margin-right: -11.9vw;
				width: 215px;
			}

			#ecaillereduce {
				margin: 0 auto;
				margin-top: 20px;
				left: 20.1%;
				margin-bottom: 40px;
			}

			button.button--nina {
				margin: 0 -90px 30px 140px
			}
		}
	}

	main section:nth-child(4) {

		article:nth-child(2){
			
			h3 {
				font-size: 12px;
				margin-left: 5px
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				margin-bottom: 30px;
			}

			img {
    			height: auto;
    			width: 133%;
    			margin-left: -45px;
			}
		}

		article:nth-child(3){

			h3 {
				font-size: 12px;
				margin-left: 5px
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				margin-bottom: 30px;
			}

			img {
    			height: auto;
    			width: 134%;
    			margin-left: -47px;
			}
		}

		article:nth-child(4){

			h3 {
				font-size: 12px;
				margin-left: 5px
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				margin-bottom: 30px;
			}

			img {
    			height: auto;
    			width: 132%;
    			margin-left: -45px;
			}
		}

		article:nth-child(5){

			h3 {
				font-size: 12px;
				margin-left: 5px
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
				margin-bottom: 30px;
			}

			img {
    			height: auto;
    			width: 132%;
    			margin-left: -45px;
			}
		}
	}

	main section:last-child {

		article {

			h3 {
				font-size: 12px;
				margin-left: 5px
			}

			p.title {
				width: 100%;
				margin-left: -1px;
				font-weight: 900;
			}

			p.desc {
				text-align: center;
				margin: 0 auto;
				display: block;
				line-height: 20px;
				font-size: 13px;
				line-height: 30px;
			}

			button {
				margin-top: 20px;
			}
		}
	}

	footer {
		height: 286px;
		margin-top: 1150px;
	}
}
