body {
	margin : 0;
	padding: 0;
	font-family : roboto;
	overflow-x: hidden;

	.menudevice {
	    font-size: 50px;
	    color: #2A6993;
	    margin: 0 auto;
	    text-align: center;
	    padding: 20px 0;
	    cursor: pointer;
	}

	.button {
		position: relative;
	    display: block;
	    color: inherit;
	    -webkit-backface-visibility: hidden;
	    -moz-osx-font-smoothing: grayscale;
	    outline: 0;
	}
	.button--nina {
		border: 2px solid #ffffff;
		z-index: 2;
	    background-color: transparent;
	    color: #fff;
	    margin: 0 auto;
		overflow: hidden;
		font-family: Roboto;;
		-webkit-transition: background-color 0.3s;
		transition: background-color 0.3s;
		padding: 4px 28px;
		-webkit-backface-visibility: hidden;
	    -moz-osx-font-smoothing: grayscale;
	    outline: 0;

		span {
			text-decoration: none;
			color: #fff;
			font-size: 14px;
		    letter-spacing: 2px;
		    display: inline-block;
		    text-transform: uppercase;
		}
	}
	.button--nina.button--inverted {
		background-color: #6B614D;
		color: #fff;
	}

	.button--nina > span {
		display: inline-block;
		padding: 1em 0;
		opacity: 0;
		color: #fff;
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	.button--nina::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 1em 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	}
	.button--nina:hover {
		background-color: #6b614d;
	}
	.button--nina:hover::before {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	.button--nina:hover > span {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.button--nina:hover > span:nth-child(1) {
		-webkit-transition-delay: 0.045s;
		transition-delay: 0.045s;
	}
	.button--nina:hover > span:nth-child(2) {
		-webkit-transition-delay: 0.09s;
		transition-delay: 0.09s;
	}
	.button--nina:hover > span:nth-child(3) {
		-webkit-transition-delay: 0.135s;
		transition-delay: 0.135s;
	}
	.button--nina:hover > span:nth-child(4) {
		-webkit-transition-delay: 0.18s;
		transition-delay: 0.18s;
	}
	.button--nina:hover > span:nth-child(5) {
		-webkit-transition-delay: 0.225s;
		transition-delay: 0.225s;
	}
	.button--nina:hover > span:nth-child(6) {
		-webkit-transition-delay: 0.27s;
		transition-delay: 0.27s;
	}
	.button--nina:hover > span:nth-child(7) {
		-webkit-transition-delay: 0.315s;
		transition-delay: 0.315s;
	}
	.button--nina:hover > span:nth-child(8) {
		-webkit-transition-delay: 0.36s;
		transition-delay: 0.36s;
	}
	.button--nina:hover > span:nth-child(9) {
		-webkit-transition-delay: 0.405s;
		transition-delay: 0.405s;
	}
	.button--nina:hover > span:nth-child(10) {
		-webkit-transition-delay: 0.45s;
		transition-delay: 0.45s;
	}
	.button--nina:hover > span:nth-child(11) {
		-webkit-transition-delay: 0.495s;
		transition-delay: 0.49.5s;
	}
	.button--nina:hover > span:nth-child(12) {
		-webkit-transition-delay: 0.54s;
		transition-delay: 0.54s;
	}
	.button--nina:hover > span:nth-child(13) {
		-webkit-transition-delay: 0.585s;
		transition-delay: 0.58.5s;
	}
	.button--nina:hover > span:nth-child(14) {
		-webkit-transition-delay: 0.63s;
		transition-delay: 0.63s;
	}

	button, html input[type="button"], input[type="reset"], input[type="submit"] {
	    -webkit-appearance: button;
	    cursor: pointer;
	}
	button, select {
	    text-transform: none;
	}
	button, input {
		line-height: normal;
	}
	button, input, select, textarea {
	    font-family: inherit;
	    font-size: 100%;
	    margin: 0;
	}
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	width: 100%;
    min-height: 128px;
    z-index: 3;
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
    color: #fff;

    .progressContainer{
	  	position: fixed;
	  	top: 72px;
	  	left: 0;
	  	width: 100%;
	}

	.progress{
	  	height: 5px;
	  	background: #e0d2b1 ;
	  	width: 0;
	  	transition: width 0.5s;
	}
	
	#logo {
		padding: 15px 0 0 0;
	}

    #logo img {
		width: 250px; 
    }

	nav {
		padding: 48px 0px 0px 0px;
		text-align: center;
		font-family: roboto;

		ul {
			li {
				display: inline-block;
				list-style-type: none;
				padding: 11px 13px;
				font-size: 18px;
				letter-spacing: 2px;

				a {
					text-decoration: none;
					color: inherit;
					outline: none;
					color: #fff;
					text-decoration: none;
					text-shadow: 0 0 1px rgba(255,255,255,0.3);
					position: relative;

					:hover,:focus {
						outline: none;
					}
				}
			}
		}
	}

	/*Hover effect*/
	.hover-effect {
		a {
			padding: 10px 0 10px 0;
			color: #fff;
			text-shadow: none;
			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
			transition: color 0.3s;
		}
	}

	.hover-effect a::before,
	.hover-effect a::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: #fff;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.hover-effect a::before {
		top: 0;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.hover-effect a::after {
		bottom: 0;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}

	.hover-effect a:hover,
	.hover-effect a:focus {
		color: #fff;
	}

	.hover-effect a:hover::before,
	.hover-effect a:focus::before,
	.hover-effect a:hover::after,
	.hover-effect a:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}

	#headersocial {
		padding: 50px 0 0 0;

		img {
			width: 30px;
		}
	}
}

/*MOBILE NAV*/
.mobile-nav {
	position: fixed;
	bottom: 0;
	z-index: 9;
	height: 64px;
	width: 100%;
	font-size: 0px;
	color: #fff;
	text-transform: uppercase;
	background-color: #6B614D;
	display: none;

	img {
		width: 24px;
	}

	.btn {
		height: 100%;
		width: 100%;
		border-radius: 0px;
	}

	.btn-accueil {
		border-right: 1px solid #fff;
	
		img {
			width: 20px;
			padding-top: 5px;
		}
	}

	.btn-about {
		border-right: 1px solid #fff;

		img {
			width: 21px;
			padding-top: 6px;
		}
	}

	.btn-menu {
		border-right: 1px solid #fff;

		img {
			width: 30px;
			padding-top: 8px;
		}
	}

	.btn-booking {
		border-right: 1px solid #fff;
		background-color: #e0d2b1;
		
		img {
			width: 21px;
			padding-top: 5px;
		}
	}

	.btn-delivery {
		border-right: 1px solid #fff;
	
		img {
			width: 25px;
			padding-top: 7px;
		}
	}

	.btn-contact {

		img {
			width: 17px;
			padding-top: 4px;
		}
	}

	.text {
		font-size: 13px;
	    bottom: 8px;
	    position: absolute;
	    top: 73%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}

/* MAIN */
main {
	margin-bottom: 3.5%;

	/* BOOK A TABLE */
	section:first-child {
		background: url("../images/booking/background.jpg") no-repeat;
		background-size: cover;
		background-attachment: fixed;
		height: 500px;
		background-position: bottom;

		#headerdesc {
			padding: 165px 0px;
		}

		h1 {
			font-size: 70px;
			color: #FFF;
			z-index: 2;
			margin: 0 auto;
			padding: 20px 0;
			letter-spacing: 8px;
			width: 50%;
		}
	}

	/* FORM TEXT */
	section:nth-child(2) {
		padding: 72px 0;
		background-color: #f4f4f4;

		h3 {
			font-size: 17px;
		    text-transform: uppercase;
		    letter-spacing: 2px;
		    margin-bottom: 0px;
		    font-weight: 400;
		}

		p {
			font-size: 18px;
    		line-height: 35px;
		}
	}

	/* FORM */
	section:nth-child(3) {
		background-color: #FFF;
		margin: 39px 0;
		
		h3 {
			font-size: 27px;
    		text-transform: uppercase;
    		padding: 8% 0%;
    		text-align: center;
		}

		p {
			font-size: 15px;
    		text-transform: uppercase;
    		line-height: 30px;
    		text-align: center;
		}

		/* INPUT STYLE */

		.input {
			position: relative;
			z-index: 1;
			display: inline-block;
			max-width: 350px;
			width: 100%;
			vertical-align: top;
		}

		.input__field {
			position: relative;
			display: block;
			float: right;
			padding: 0.8em;
			width: 60%;
			border: none;
			border-radius: 0;
			background: #f0f0f0;
			color: #aaa;
			font-weight: 400;
			font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
			-webkit-appearance: none; /* for box shadows to show on iOS */
		}

		.input__field:focus {
			outline: none;
		}

		.input__label {
			display: inline-block;
			float: right;
			padding: 0 1em;
			width: 100%;
			color: #696969;
			font-weight: bold;
			font-size: 70.25%;
			-webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.input__label-content {
			position: relative;
			display: block;
			padding: 1.6em 0;
			width: 100%;
		}

		.graphic {
			position: absolute;
			top: 0;
			left: 0;
			fill: none;
		}

		.input--shoko {
			overflow: hidden;
			padding-bottom: 2.5em;
		}

		.input__field--shoko {
			padding: 0;
			margin-top: 1.2em;
			width: 100%;
			background: transparent;
			color: #000;
			font-size: 1.55em;
		}

		.input__label--shoko {
			position: absolute;
			top: 2em;
			left: 0;
			display: block;
			width: 100%;
			text-align: left;
			padding: 0em;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #000;
			pointer-events: none;
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
			-webkit-transition: -webkit-transform 0.2s 0.1s, color 0.3s;
			transition: transform 0.2s 0.1s, color 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}

		.graphic--shoko {
			stroke: #6b614d;
			pointer-events: none;
			top: 1.25em;
			bottom: 0px;
			height: 3.275em;
			-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
			transition: transform 0.7s, stroke 0.7s;
			-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
			transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
			stroke-width: 2px;
		} 

		.input__field--shoko:focus + .input__label--shoko,
		.input--filled .input__label--shoko {
			color: #6b614d;
			-webkit-transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
			transform: translate3d(0, 3.5em, 0) scale3d(0.85, 0.85, 1);
		}

		.input__field--shoko:focus ~ .graphic--shoko,
		.input--filled .graphic--shoko {
			stroke: #A58282;
			-webkit-transform: translate3d(-66.6%, 0, 0);
			transform: translate3d(-66.6%, 0, 0);
		}

		/* Button style reserver */

		.button--nina {
			padding: 3.5px 28px;
			color: #6B614D;
			font-size: 14px;
			width: 100%;
			border: 2px solid #6b614d;
			margin-top: 34px;

			span {
				font-size: 12px;
			}
		}
		
		textarea {
		    background-color: transparent;
		    letter-spacing: 2px;
		    font-size: 12px;
		    width: 100%;
		    height: 103px;
		    text-overflow: ellipsis;
		    outline: none;
		    border: 2px solid #6b614d;
		    font-weight: bold;
		    padding: 13px;			
		}

		:-webkit-input-placeholder { /* Chrome */
			color: #000;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: #000;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: #000;
			opacity: 1;
		}
		:-moz-placeholder { /* Firefox 4 - 18 */
			color: #000;
			opacity: 1;
		}
	}	
}

/* FOOTER */
footer {
	margin: 1.5% 0%;

	img {
		width: 145px;
	}
	
	input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.btn-credits {
	    display: inline-block;
	    margin-right: 50px;
	    text-transform: uppercase;
	    text-decoration: none;
	    color: #0e2046;
	    padding: 3.5%;
	}

	.form-newsletter {
	    display: inline-block;
	    position: relative;
	    margin: 3px 25px 0 0;
	}

	.form-newsletter label {
	    text-transform: uppercase;
	    color: #7b7b7b;
	    margin-right: 22px;
	    font-size: 13px;
	}

	.form-newsletter input.input-text {
    	padding: 14px 14px 14px 19px;
    	width: auto;
	}

	.form-newsletter input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.form-newsletter .border-newsletter {
	    display: inline-block;
	    width: 1px;
	    height: 20px;
	    padding: 14px 0;
	    margin: 0 0 0 -3px;
   	}

   	.form-newsletter input.btn-submit {
	    cursor: pointer;
	    color: #040404;
	    margin-left: -2px;
	    margin-top: 0px;
	}
	
	.form-newsletter input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.form-newsletter .form-message.valid {
    	color: #145214;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}

	.form-newsletter .form-message.valid-error, footer .form-newsletter .form-message.error {
    	color: #B20000;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}

	.form-newsletter .form-message.error {
    	color: #B20000;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}
}

/************** RESPONSIVE ***************/

/* MEDIA QUERIES MAX WIDTH 1325PX */
@media all and (max-width : 1325px) {

	#headersocial {
		position: absolute;
		right: 30%;
	}

	header {

		.progressContainer {
			top: 69px;
		}

		nav ul li {
			font-size: 16px;
		}
	}

	footer {
		height: 110px;
	}
}

/* MEDIA QUERIES MAX WIDTH 1237PX*/
@media all and (max-width : 1237px) {
	main section:nth-child(2) {
		img {
			margin: 75px 0 0 -30px;
			width: 260px
		}
	}

	#headersocial {
		position: absolute;
		right: -290%;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	main section:nth-child(4) {
		.container {
			width: 100%;
		}
	}
}

@media all and (max-width: 992px) and (min-width: 780px) {

	body {
		overflow-x :hidden;
		width: 100%;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	#headersocial {
		position: absolute;
		right: -290%;
	}

	main section:nth-child(3) {

		h3 {
			padding: 20px 0;
		}

		p {
			padding-bottom: 20px;
		}
	}

	footer {
		.btn-credits {
			padding: 15% 0%;
			margin-left: -17%
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 780PX */
@media all and (max-width : 780px) {
	overflow-x: hidden;

	body .menudevice {
	    display: block;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	header .progressContainer {
		top: 69px;
	}

	header #headersocial {
		width: 100px;
		position: absolute;
		right: -322%;
	}

	main section:first-child {
		background: url("../images/booking/background.jpg") no-repeat;
		background-size: cover;

		h1 {
			width: 70%;
			line-height: 90px;
			font-size: 60px;
		}

		#headerdesc {
			padding: 150px 0;
		}
	}

	main section:nth-child(3) {
		h3 {
			padding: 4% 0;
		}

		p {
			padding-bottom: 5%;
			font-size: 18px;
		}
	}

	footer {
		margin-top: 60px;
		height: 160px;

		.btn-credits {
		    margin: 7px 0px 0px -10px;
		    padding: 10% 0;
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 414PX */
@media all and (max-width : 414px) {
	body {
		overflow-x :hidden;
	}

	header #headersocial {
		display: none;
	}

	.mobile-nav .text {
		font-size: 10px;
		bottom: 8px;
		position: absolute;
		top: 73%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	main section:first-child {
		height: 92%;
	    background-size: 260% 100%;
    	background-position: 56% 100%;

		#headerdesc {
			padding-top: 175px;
		}

		h1 {
			font-size : 45px;
			line-height: 70px;
			width: 90%;
		}
	}

	main section:nth-child(2) {
		p {
			font-size: 15px;
		}
	}

	main section:last-child {
		h3 {
			font-size: 25px;
		}

		p {
			font-size: 15px;
		}
	}

	footer {
		height: 290px;

		.form-newsletter {
			margin-right: 11px;

			label {
				margin-right: 0;
			}
		}

		a.btn {
			padding: 8% 16%;
		}

		img {
			margin-top: 20px;
		}
	}
}