body {
	margin : 0;
	padding: 0;
	font-family : roboto;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	width: 100%;
    min-height: 128px;
    z-index: 3;
    -webkit-transition:  0.3s;
    -moz-transition:  0.3s;
    -ms-transition:  0.3s;
    -o-transition: 0.3s;
    transition:  0.3s;
    color: #fff;

    .progressContainer{
	  	position: fixed;
	  	top: 72px;
	  	left: 0;
	  	width: 100%;
	}

	.progress{
	  	height: 5px;
	  	background: #e0d2b1 ;
	  	width: 0;
	  	transition: width 0.5s;
	}
	
	#logo {
		padding: 15px 0 0 0;
	}

    #logo img {
		width: 250px; 
    }

	nav {
		padding: 48px 0px 0px 0px;
		text-align: center;
		font-family: roboto;

		ul {
			li {
				display: inline-block;
				list-style-type: none;
				padding: 11px 13px;
				font-size: 18px;
				letter-spacing: 2px;

				a {
					text-decoration: none;
					color: inherit;
					outline: none;
					color: #fff;
					text-decoration: none;
					text-shadow: 0 0 1px rgba(255,255,255,0.3);
					position: relative;

					:hover,:focus {
						outline: none;
					}
				}
			}
		}
	}

	/*Hover effect*/
	.hover-effect {
		a {
			padding: 10px 0 10px 0;
			color: #fff;
			text-shadow: none;
			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
			transition: color 0.3s;
		}
	}

	.hover-effect a::before,
	.hover-effect a::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		background: #fff;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
		-moz-transition: opacity 0.3s, -moz-transform 0.3s;
		transition: opacity 0.3s, transform 0.3s;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.hover-effect a::before {
		top: 0;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	.hover-effect a::after {
		bottom: 0;
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		transform: translateY(10px);
	}

	.hover-effect a:hover,
	.hover-effect a:focus {
		color: #fff;
	}

	.hover-effect a:hover::before,
	.hover-effect a:focus::before,
	.hover-effect a:hover::after,
	.hover-effect a:focus::after {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		transform: translateY(0px);
	}

	#headersocial {
		padding: 50px 0 0 0;

		img {
			width: 30px;
		}
	}
}

/*MOBILE NAV*/
.mobile-nav {
	position: fixed;
	bottom: 0;
	z-index: 9;
	height: 64px;
	width: 100%;
	font-size: 0px;
	color: #fff;
	text-transform: uppercase;
	background-color: #6B614D;
	display: none;

	img {
		width: 24px;
	}

	.btn {
		height: 100%;
		width: 100%;
		border-radius: 0px;
	}

	.btn-accueil {
		border-right: 1px solid #fff;
	
		img {
			width: 20px;
			padding-top: 5px;
		}
	}

	.btn-about {
		border-right: 1px solid #fff;

		img {
			width: 21px;
			padding-top: 6px;
		}
	}

	.btn-menu {
		border-right: 1px solid #fff;

		img {
			width: 30px;
			padding-top: 8px;
		}
	}

	.btn-booking {
		border-right: 1px solid #fff;
		
		img {
			width: 21px;
			padding-top: 5px;
		}
	}

	.btn-delivery {
		border-right: 1px solid #fff;
	
		img {
			width: 25px;
			padding-top: 7px;
		}
	}

	.btn-contact {

		img {
			width: 17px;
			padding-top: 4px;
		}
	}

	.text {
		font-size: 13px;
	    bottom: 8px;
	    position: absolute;
	    top: 73%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
}

main {

	section:first-child {
		background: url("../images/credits/background.jpg") no-repeat;
		background-size: 100% 90%;
		background-attachment: fixed;
		height: 500px;

		#headerdesc {
			padding: 185px 0px;
		}

		h1 {
			font-size: 60px;
			color: #FFF;
			z-index: 2;
			margin: 0 auto;
			padding: 60px 0;
		}
	}

	section:last-child {
		background-color: #F4F4F4;
	 	padding: 60px 0;
	 	font-family: roboto;

	 	.container {
	 		width : 90%;
	 	}

		img {
			width: 56%;
			margin: 13% 20%;
		}

		span {
			font-size: 20px;
			font-weight: bold;
		}

		p#credits {
			line-height: 46px;
			font-weight: 100;
			font-size: 17px;
			padding: 16% 0 0 0;
		}

		p.mentionslegales {
			line-height: 46px;
			font-weight: 100;
			font-size: 17px;
		    padding: 10% 0 0 0;
		    width: 90%;

		    strong {
		    	color: #2A6993;
			    margin: 0 auto;
			    text-align: center;
			    font-size: 35px;
		    }
		}
	}
}

/* FOOTER */
footer {
	margin: 1.5% 0%;

	img {
		width: 145px;
	}
	
	input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.btn-credits {
	    display: inline-block;
	    margin-right: 50px;
	    text-transform: uppercase;
	    text-decoration: none;
	    color: #0e2046;
	    padding: 3.5%;
	}

	.form-newsletter {
	    display: inline-block;
	    position: relative;
	    margin: 3px 25px 0 0;
	}

	.form-newsletter label {
	    text-transform: uppercase;
	    color: #7b7b7b;
	    margin-right: 22px;
	    font-size: 13px;
	}

	.form-newsletter input.input-text {
    	padding: 14px 14px 14px 19px;
    	width: auto;
	}

	.form-newsletter input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.form-newsletter .border-newsletter {
	    display: inline-block;
	    width: 1px;
	    height: 20px;
	    padding: 14px 0;
	    margin: 0 0 0 -3px;
   	}

   	.form-newsletter input.btn-submit {
	    cursor: pointer;
	    color: #040404;
	    margin-left: -2px;
	    margin-top: 0px;
	}
	
	.form-newsletter input {
	    background: #F6F6F6;
	    border: none;
	    -webkit-appearance: none;
	    -webkit-border-radius: 0;
	    border-radius: 0;
	    font-size: 11px;
	    line-height: normal;
	    font-family: "Lato", sans-serif;
	    padding: 14px;
	    margin: 0;
	}

	.form-newsletter .form-message.valid {
    	color: #145214;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}

	.form-newsletter .form-message.valid-error, footer .form-newsletter .form-message.error {
    	color: #B20000;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}

	.form-newsletter .form-message.error {
    	color: #B20000;
	}

	.form-newsletter .form-message {
	    display: none;
	    position: absolute;
	    right: 0;
	    bottom: -20px;
	}
}

/************** RESPONSIVE ***************/

/* MEDIA QUERIES MAX WIDTH 1319PX MIN WIDTH 920PX */
@media all and (max-width : 1319px) and (min-width: 920px) {

	#headersocial {
		position: absolute;
		right: -290%;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	header .progressContainer {
		top: 69px;
	}

	footer {
		height: 110px;
	}
}

/* MEDIA QUERIES MAX WIDTH 992PX */
@media all and (max-width : 992px) {
	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	h1 {
	    width: 90%;
	    line-height: 90px;
	    font-size: 60px;
	}

	footer {
		height: 130px;

		.btn-credits {
			padding: 10% 0;
			margin: 7px 0px 0px -10px;
		}
	}
}

@media all and (max-width: 992px) and (min-width: 780px) {

	body {
		overflow-x :hidden;
		width: 100%;
	}

	#headersocial {
		position: absolute;
		right: -290%;
	}

	h1 {
	    width: 90%;
	    line-height: 90px;
	    font-size: 60px;
	}

	main section:last-child {
		img {
			width: 50%;
		}

		p#credits {
			line-height: 35px;
			font-weight: 100;
			font-size: 15px;
			padding: 16% 0 0 0;
			width: 100%;
		}

		p.mentionslegales {
			line-height: 35px;
			font-weight: 100;
			font-size: 15px;
		    padding: 10% 0 0 0;
		    width: 100%;

		    strong {
	    	    color: #2A6993;
			    margin: 0 auto;
			    font-size: 55px;
    			line-height: 62px;
    			margin-bottom: 20px;
		    }
		}
	} 

	footer {
		.btn-credits {
			padding: 15% 0%;
			margin-left: -17%
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 780PX */
@media all and (max-width : 780px) {
	overflow-x: hidden;

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	header #headersocial {
		width: 100px;
		position: absolute;
		right: -322%;
	}

	main section:first-child {
		background: url("../images/credits/backgroundresponsive.jpg") no-repeat;
	    background-size: cover;

		#headerdesc {
			padding-top: 120px;
		}

		h1 {
		    width: 90%;
		    line-height: 90px;
		    font-size: 60px;
		}
	}

	main section:last-child {
		img {
			width: 50%;
			margin: 0 auto;
			display: block;
		}

		p {
			padding: 5% 0;
			font-size: 23px;
			line-height: 60px;
		}

		p#credits {
			line-height: 35px;
			font-weight: 100;
			font-size: 18px;
			padding: 16% 0 0 0;
			width: 100%;
		}

		p.mentionslegales {
			line-height: 35px;
			font-weight: 100;
		    font-size: 18px;
		    padding: 10% 0 0 0;
		    width: 100%;

		    strong {
	    	    color: #2A6993;
			    margin: 0 auto;
			    font-size: 55px;
    			line-height: 62px;
    			margin-bottom: 20px;
		    }
		}
	} 

	main 

	footer {
		height: 160px;
		margin-top: 400px;

		.btn-credits {
			margin: 7px 0px 0px -10px;
			padding: 10% 0;
		}
	}
}

/* MEDIA QUERIES MAX WIDTH 414PX */
@media all and (max-width : 414px) {
	body {
		overflow-x :hidden;
	}

	header #headersocial {
		display: none;
	}

	.mobile-nav .text {
		font-size: 10px;
		bottom: 8px;
		position: absolute;
		top: 73%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	main section:first-child {
		height: 92%;
		background-size: cover;
		background-position: right;

		#headerdesc {
			padding-top: 120px;
		}

		h1 {
			font-size : 45px;
			line-height: 70px;
		}
	}
	
	main section:last-child {
		img {
			width: 70%;
			margin: 0 auto;
		}

		p {
			padding: 15% 0 0 0;
			font-size: 17px;
			line-height: 50px;
		}

		p#credits {
			line-height: 25px;
			font-weight: 100;
			font-size: 10px;
			padding: 16% 0 0 0;
			width: 100%;
		}

		p.mentionslegales {
			line-height: 25px;
			font-weight: 100;
			font-size: 10px;
		    padding: 10% 0 0 0;
		    width: 100%;

		    strong {
	    	    color: #2A6993;
			    margin: 0 auto;
			    text-align: center;
			    font-size: 25px;
    			line-height: 34px;
		    }
		}
	} 

	footer {

		margin-top: 0px;
		height: 288px;

		.form-newsletter {
			margin-right: 11px;

			label {
				margin-right: 0;
			}
		}

		a.btn {
			padding: 8% 13%;
		}

		img {
			margin-top: 20px;
		}
	}
}