body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  overflow-x: hidden; }
  body .menudevice {
    font-size: 60px;
    color: #2A6993;
    margin: 0 auto;
    text-align: center; }
  body .opened {
    text-transform: uppercase;
    font-size: 25px;
    font-family: Roboto;
    margin: 0 0 2% 0;
    line-height: 51px;
    border-radius: 2px;
    color: #F4F4F4;
    background: #2A6993 url(../images/menu/arrowup.svg) no-repeat;
    background-position: 97% 5px;
    background-size: 70px 30px;
    cursor: pointer;
    opacity: 0.9;
    text-align: center; }
  body .closed {
    text-transform: uppercase;
    font-size: 25px;
    font-family: Roboto;
    margin: 0 0 2% 0;
    line-height: 51px;
    border-radius: 2px;
    color: #2A6993;
    background: #F4F4F4 url(../images/menu/arrowdown.svg) no-repeat;
    background-position: 97% 5px;
    background-size: 70px 30px;
    color: #2A6993;
    cursor: pointer;
    text-align: center; }
  body .closed:hover {
    background-color: #2A6993;
    color: #fff;
    opacity: 0.9; }
  body .button {
    position: relative;
    display: block;
    color: inherit;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale; }
  body .button--nina {
    border: 2px solid #ffffff;
    z-index: 2;
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    overflow: hidden;
    font-family: Roboto;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    padding: 4px 28px;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale; }
    body .button--nina span {
      text-decoration: none;
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      display: inline-block;
      text-transform: uppercase; }
  body .button--nina.button--inverted {
    background-color: #6B614D;
    color: #fff; }
  body .button--nina > span {
    display: inline-block;
    padding: 1em 0;
    opacity: 0;
    color: #fff;
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  body .button--nina::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  body .button--nina:hover {
    background-color: #6b614d; }
  body .button--nina:hover::before {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  body .button--nina:hover > span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  body .button--nina:hover > span:nth-child(1) {
    -webkit-transition-delay: 0.045s;
    transition-delay: 0.045s; }
  body .button--nina:hover > span:nth-child(2) {
    -webkit-transition-delay: 0.09s;
    transition-delay: 0.09s; }
  body .button--nina:hover > span:nth-child(3) {
    -webkit-transition-delay: 0.135s;
    transition-delay: 0.135s; }
  body .button--nina:hover > span:nth-child(4) {
    -webkit-transition-delay: 0.18s;
    transition-delay: 0.18s; }
  body .button--nina:hover > span:nth-child(5) {
    -webkit-transition-delay: 0.225s;
    transition-delay: 0.225s; }
  body .button--nina:hover > span:nth-child(6) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s; }
  body .button--nina:hover > span:nth-child(7) {
    -webkit-transition-delay: 0.315s;
    transition-delay: 0.315s; }
  body .button--nina:hover > span:nth-child(8) {
    -webkit-transition-delay: 0.36s;
    transition-delay: 0.36s; }
  body .button--nina:hover > span:nth-child(9) {
    -webkit-transition-delay: 0.405s;
    transition-delay: 0.405s; }
  body .button--nina:hover > span:nth-child(10) {
    -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s; }
  body .button--nina:hover > span:nth-child(11) {
    -webkit-transition-delay: 0.495s;
    transition-delay: 0.49 0.5s; }
  body .button--nina:hover > span:nth-child(12) {
    -webkit-transition-delay: 0.54s;
    transition-delay: 0.54s; }
  body .button--nina:hover > span:nth-child(13) {
    -webkit-transition-delay: 0.585s;
    transition-delay: 0.58 0.5s; }
  body .button--nina:hover > span:nth-child(14) {
    -webkit-transition-delay: 0.63s;
    transition-delay: 0.63s; }
  body button, body html input[type="button"], body input[type="reset"], body input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }
  body button, body select {
    text-transform: none; }
  body button, body input {
    line-height: normal; }
  body button, body input, body select, body textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0; }

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 128px;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  /*Hover effect*/ }
  header .progressContainer {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%; }
  header .progress {
    height: 5px;
    background: #e0d2b1;
    width: 0;
    transition: width 0.5s; }
  header #logo {
    padding: 15px 0 0 0; }
  header #logo img {
    width: 250px; }
  header nav {
    padding: 48px 0px 0px 0px;
    text-align: center;
    font-family: roboto; }
    header nav ul li {
      display: inline-block;
      list-style-type: none;
      padding: 11px 13px;
      font-size: 18px;
      letter-spacing: 2px; }
      header nav ul li a {
        text-decoration: none;
        color: inherit;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
        position: relative; }
        header nav ul li a :hover, header nav ul li a :focus {
          outline: none; }
  header .hover-effect a {
    padding: 10px 0 10px 0;
    color: #fff;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
  header .hover-effect a::before,
  header .hover-effect a::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  header .hover-effect a::before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  header .hover-effect a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  header .hover-effect a:hover,
  header .hover-effect a:focus {
    color: #fff; }
  header .hover-effect a:hover::before,
  header .hover-effect a:focus::before,
  header .hover-effect a:hover::after,
  header .hover-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  header #headersocial {
    padding: 50px 0 0 0; }
    header #headersocial img {
      width: 30px; }

/*MOBILE NAV*/
.mobile-nav {
  position: fixed;
  bottom: 0;
  z-index: 9;
  height: 64px;
  width: 100%;
  font-size: 0px;
  color: #fff;
  text-transform: uppercase;
  background-color: #6B614D;
  display: none; }
  .mobile-nav img {
    width: 24px; }
  .mobile-nav .btn {
    height: 100%;
    width: 100%;
    border-radius: 0px; }
  .mobile-nav .btn-accueil {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-accueil img {
      width: 20px;
      padding-top: 5px; }
  .mobile-nav .btn-about {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-about img {
      width: 21px;
      padding-top: 6px; }
  .mobile-nav .btn-menu {
    border-right: 1px solid #fff;
    background-color: #e0d2b1; }
    .mobile-nav .btn-menu img {
      width: 30px;
      padding-top: 8px; }
  .mobile-nav .btn-booking {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-booking img {
      width: 21px;
      padding-top: 5px; }
  .mobile-nav .btn-delivery {
    border-right: 1px solid #fff; }
    .mobile-nav .btn-delivery img {
      width: 25px;
      padding-top: 7px; }
  .mobile-nav .btn-contact img {
    width: 17px;
    padding-top: 4px; }
  .mobile-nav .text {
    font-size: 13px;
    bottom: 8px;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* MAIN */
main {
  /* HEADER LA CARTE */
  /* NAV CARTE */
  /* LES MENUS */
  /* LES ENTREES */
  /* LES PLATS */
  /* LES DESSERTS */
  /* LES BOISSONS */ }
  main section:first-child {
    height: 500px;
    background: url("../images/menu/background.jpg") no-repeat;
    background-attachment: fixed;
    background-position: 100% 77%;
    background-size: cover; }
    main section:first-child #headerdesc {
      padding: 150px 0px; }
    main section:first-child h1 {
      font-size: 70px;
      color: #FFF;
      z-index: 2;
      padding: 30px 0;
      letter-spacing: 8px;
      margin: 0 auto; }
    main section:first-child button {
      border: 2px solid #ffffff;
      z-index: 2;
      margin: 0 auto;
      background-color: transparent;
      outline: 0; }
      main section:first-child button a {
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 17px 28px; }
    main section:first-child button:hover {
      background-color: #6B614D;
      color: #fff; }
      main section:first-child button:hover a {
        color: #fff; }
    main section:first-child a {
      margin: 0 auto; }
  main section:nth-child(2) {
    padding: 50px 0;
    background-color: #F4F4F4; }
    main section:nth-child(2) .row {
      padding: 1% 0; }
    main section:nth-child(2) img {
      width: auto;
      height: 380px; }
    main section:nth-child(2) h3 {
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 10px 0;
      font-weight: 400; }
    main section:nth-child(2) h4 {
      font-size: 50px; }
    main section:nth-child(2) p {
      text-align: center;
      margin-bottom: 4%;
      line-height: 30px; }
    main section:nth-child(2) li {
      padding-bottom: 15px;
      list-style-type: circle; }
    main section:nth-child(2) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(2) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(3) {
    padding: 71px 0 0 0;
    background-color: #fff;
    position: relative; }
    main section:nth-child(3) .title {
      font-size: 20px;
      line-height: 30px;
      margin: 2% 0%; }
    main section:nth-child(3) .desc {
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 24px;
      margin: 2% 0%; }
    main section:nth-child(3) #entree1, main section:nth-child(3) #plat1, main section:nth-child(3) #dessert1,
    main section:nth-child(3) #entree2, main section:nth-child(3) #plat2, main section:nth-child(3) #dessert2,
    main section:nth-child(3) #plat3, main section:nth-child(3) #dessert3,
    main section:nth-child(3) #aboutmascotte, main section:nth-child(3) #aboutcocotte, main section:nth-child(3) #aboutmarmotte {
      display: none; }
    main section:nth-child(3) img {
      width: auto;
      height: 380px; }
    main section:nth-child(3) h3 {
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:nth-child(3) h4 {
      margin-bottom: 3%; }
    main section:nth-child(3) p {
      text-align: center;
      font-size: 16px;
      line-height: 30px;
      margin: 3% 0 1% 0; }
    main section:nth-child(3) p.title {
      background-color: #f4f4f4;
      color: #2a6993;
      border-radius: 2px; }
    main section:nth-child(3) li {
      padding-bottom: 15px;
      list-style-type: circle;
      font-size: 14px;
      line-height: 29px;
      text-align: left; }
    main section:nth-child(3) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(3) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(4) {
    position: relative;
    padding: 71px 0 0 0;
    background-color: #FFF; }
    main section:nth-child(4) .home-subtitle {
      font-size: 17px; }
    main section:nth-child(4) .compotitle {
      display: none; }
    main section:nth-child(4) #entreecold ul, main section:nth-child(4) #entreehot ul {
      display: none; }
    main section:nth-child(4) img {
      width: auto;
      height: 380px; }
    main section:nth-child(4) h3 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:nth-child(4) h4 {
      margin-bottom: 3%; }
    main section:nth-child(4) li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:nth-child(4) .title {
      font-size: 25px;
      line-height: 51px; }
    main section:nth-child(4) .desc {
      font-size: 15px;
      line-height: 30px;
      margin: 2% 0%; }
    main section:nth-child(4) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(4) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(5) {
    padding: 71px 0 0 0;
    background-color: #FFF;
    position: relative; }
    main section:nth-child(5) .home-subtitle {
      font-size: 17px; }
    main section:nth-child(5) #compo1display, main section:nth-child(5) #compo2display, main section:nth-child(5) #compo3display, main section:nth-child(5) #compo4display, main section:nth-child(5) #compo5display, main section:nth-child(5) #compo6display,
    main section:nth-child(5) #huitresdisplay, main section:nth-child(5) #crustacesdisplay, main section:nth-child(5) #poissonsdemerdisplay, main section:nth-child(5) #homardsdisplay, main section:nth-child(5) #epiceriedisplay,
    main section:nth-child(5) #meatdisplay, main section:nth-child(5) h5, main section:nth-child(5) p {
      display: none; }
    main section:nth-child(5) img {
      width: auto;
      height: 380px; }
    main section:nth-child(5) h3 {
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:nth-child(5) h4 {
      margin-bottom: 3%; }
    main section:nth-child(5) h5 {
      font-weight: 400;
      font-size: 22px;
      line-height: 37px;
      background-position: 95% -40%;
      width: 72%;
      margin: 0 auto;
      margin-bottom: 2%; }
    main section:nth-child(5) li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:nth-child(5) .title {
      font-size: 19px;
      line-height: 30px;
      background-color: #f4f4f4;
      color: #2a6993;
      width: 70%;
      margin: 29px auto;
      border-radius: 2px;
      cursor: pointer; }
    main section:nth-child(5) .desc {
      font-size: 15px;
      line-height: 30px;
      margin: 2% 0%; }
    main section:nth-child(5) strong {
      font-size: 25px;
      text-align: center;
      font-weight: bolder;
      display: block;
      margin: 40px 0; }
    main section:nth-child(5) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(5) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:nth-child(6) {
    position: relative;
    padding: 71px 0 0 0;
    background-color: #FFF; }
    main section:nth-child(6) .home-subtitle {
      font-size: 17px; }
    main section:nth-child(6) .compotitle {
      display: none; }
    main section:nth-child(6) #homemade ul, main section:nth-child(6) #icecream ul {
      display: none; }
    main section:nth-child(6) img {
      width: auto;
      height: 380px; }
    main section:nth-child(6) h3 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:nth-child(6) h4 {
      margin-bottom: 3%; }
    main section:nth-child(6) li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:nth-child(6) .title {
      font-size: 25px;
      line-height: 51px;
      margin: 2% 0%; }
    main section:nth-child(6) .desc {
      font-size: 15px;
      line-height: 30px;
      margin: 2% 0%; }
    main section:nth-child(6) button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:nth-child(6) button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }
  main section:last-child {
    position: relative;
    padding: 72px 0;
    background-color: #FFF; }
    main section:last-child .home-subtitle {
      font-size: 17px; }
    main section:last-child .compotitle {
      display: none; }
    main section:last-child #drink1 ul, main section:last-child #drink2 ul, main section:last-child #drink3 ul, main section:last-child #drink4 ul {
      display: none; }
    main section:last-child img {
      width: auto;
      height: 380px; }
    main section:last-child h3 {
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 20px;
      font-weight: 400; }
    main section:last-child h4 {
      margin-bottom: 3%; }
    main section:last-child li {
      padding-bottom: 15px;
      list-style-type: circle;
      text-align: left; }
    main section:last-child .title {
      font-size: 25px;
      line-height: 51px;
      margin: 2% 0%;
      background-color: #F4F4F4;
      color: #2A6993;
      border-radius: 2px;
      width: 100%; }
    main section:last-child .desc {
      margin: 2% 0%;
      line-height: 30px;
      font-size: 15px; }
    main section:last-child button {
      border: 2px solid #000000;
      background-color: transparent; }
      main section:last-child button a {
        text-decoration: none;
        color: #000;
        font-size: 11px;
        letter-spacing: 2px;
        font-weight: initial;
        display: inline-block;
        text-transform: uppercase;
        padding: 14px 28px; }

/* FOOTER */
footer {
  margin: 1.5% 0%; }
  footer img {
    width: 145px; }
  footer input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .btn-credits {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    color: #0e2046;
    padding: 3.5%; }
  footer .form-newsletter {
    display: inline-block;
    position: relative;
    margin: 3px 25px 0 0; }
  footer .form-newsletter label {
    text-transform: uppercase;
    color: #7b7b7b;
    margin-right: 22px;
    font-size: 13px; }
  footer .form-newsletter input.input-text {
    padding: 14px 14px 14px 19px;
    width: auto; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .border-newsletter {
    display: inline-block;
    width: 1px;
    height: 20px;
    padding: 14px 0;
    margin: 0 0 0 -3px; }
  footer .form-newsletter input.btn-submit {
    cursor: pointer;
    color: #040404;
    margin-left: -2px;
    margin-top: 0px; }
  footer .form-newsletter input {
    background: #F6F6F6;
    border: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 11px;
    line-height: normal;
    font-family: "Lato", sans-serif;
    padding: 14px;
    margin: 0; }
  footer .form-newsletter .form-message.valid {
    color: #145214; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.valid-error, footer footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }
  footer .form-newsletter .form-message.error {
    color: #B20000; }
  footer .form-newsletter .form-message {
    display: none;
    position: absolute;
    right: 0;
    bottom: -20px; }

/************** RESPONSIVE ***************/
/* MEDIA QUERIES MAX WIDTH 1325PX */
@media all and (max-width: 1325px) {
  #headersocial {
    position: absolute;
    right: 30%; }

  header .progressContainer {
    top: 69px; }
  header nav ul li {
    font-size: 16px; }

  footer {
    height: 110px; } }
/* MEDIA QUERIES MAX WIDTH 1237PX*/
@media all and (max-width: 1237px) {
  main section:nth-child(2) img {
    margin: 75px 0 0 -30px;
    width: 260px; }

  #headersocial {
    position: absolute;
    right: -290%; }

  .show {
    display: block; }

  .hide {
    display: none; } }
/* MEDIA QUERIES MAX WIDTH 992PX & MIN WIDTH 780PX*/
@media all and (max-width: 992px) and (min-width: 780px) {
  body {
    overflow-x: hidden;
    width: 100%; }

  #headersocial {
    position: absolute;
    right: -290%; }

  #progress {
    display: none; }

  main section:first-child {
    background: url("../images/menu/backgroundresponsive.jpg") no-repeat; }

  main section:nth-child(2) h4 {
    margin: 3% 0; }

  footer {
    height: 130px; }
    footer .btn-credits {
      padding: 10% 0%;
      margin-left: -17%; } }
/* MEDIA QUERIES MAX WIDTH 780PX */
@media all and (max-width: 780px) {
  body {
    overflow-x: hidden; }

  #progress {
    display: none; }

  .show {
    display: block; }

  .hide {
    display: none; }

  header .progressContainer {
    top: 69px; }

  header #headersocial {
    width: 100px;
    position: absolute;
    right: -322%; }

  body .menudevice {
    display: block; }

  main section:first-child {
    background-position: 0% 0%;
    background-size: 200%; }
    main section:first-child h1 {
      font-size: 60px; }

  main section:nth-child(2) h3 {
    margin-top: 30px; }
  main section:nth-child(2) #dessertnav {
    width: 500px; }
  main section:nth-child(2) #h3menu {
    margin-top: 0; }
  main section:nth-child(2) #navcarte {
    margin-top: 14px; }

  main section:nth-child(3) h4.menudevice {
    margin-bottom: 40px; }

  main section:nth-child(4) h4.menudevice {
    margin-bottom: 40px; }

  main section:nth-child(5) h5 {
    width: 70%; }
  main section:nth-child(5) h4.menudevice {
    font-size: 60px;
    color: #2A6993;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    background: none;
    font-family: Roboto; }

  main section:nth-child(6) h4.menudevice {
    margin-bottom: 40px; }

  main section:last-child h4.menudevice {
    margin-bottom: 40px; }

  footer {
    height: 160px; }
    footer .btn-credits {
      margin: 7px 0px 0px -10px;
      padding: 10% 0; } }
/* MEDIA QUERIES MAX WIDTH 414PX */
@media all and (max-width: 414px) {
  body {
    overflow-x: hidden; }
    body h4.menudevice {
      font-size: 35px;
      color: #2A6993;
      margin: 0 auto;
      text-align: center;
      display: block; }
    body .opened {
      text-transform: uppercase;
      font-size: 25px;
      margin: 0 0 2% 0;
      line-height: 51px;
      border-radius: 2px;
      color: #F4F4F4;
      background: #2A6993 url(../images/menu/arrowup.svg) no-repeat;
      background-position: 96% 8px;
      background-size: 20px 30px;
      cursor: pointer;
      opacity: 0.9;
      text-align: center; }
    body .closed {
      text-transform: uppercase;
      font-size: 25px;
      margin: 0 0 2% 0;
      line-height: 51px;
      border-radius: 2px;
      color: #2A6993;
      background: #F4F4F4 url(../images/menu/arrowdown.svg) no-repeat;
      background-position: 96% 8px;
      background-size: 20px 30px;
      color: #2A6993;
      cursor: pointer;
      text-align: center; }

  header #headersocial {
    display: none; }

  #progress {
    display: none; }

  .mobile-nav .text {
    font-size: 10px;
    bottom: 8px;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%); }

  main section:first-child {
    height: 92%;
    background: url(../images/menu/backgroundresponsive.jpg) no-repeat;
    background-size: cover;
    background-position: 36% 40%; }
    main section:first-child #headerdesc {
      padding-top: 170px; }
    main section:first-child h1 {
      font-size: 50px; }

  main section:nth-child(2) h4 {
    font-size: 46px; }

  main section:nth-child(3) h2 {
    font-size: 16px;
    margin-top: 23px; }
  main section:nth-child(3) h4 {
    font-size: 40px; }
  main section:nth-child(3) p {
    font-size: 14px; }
  main section:nth-child(3) ul li {
    font-size: 12px; }

  main section:nth-child(4) h2 {
    font-size: 20px;
    margin-bottom: 30px; }
  main section:nth-child(4) h4 {
    font-size: 40px; }
  main section:nth-child(4) p {
    font-size: 14px; }
  main section:nth-child(4) ul li {
    font-size: 12px; }

  main section:nth-child(5) p {
    font-size: 10px; }
  main section:nth-child(5) ul li {
    font-size: 12px; }
  main section:nth-child(5) h4.menudevice {
    font-size: 40px; }
  main section:nth-child(5) #meat h4 {
    margin-top: 15px; }
  main section:nth-child(5) h4 {
    font-size: 20px; }
  main section:nth-child(5) h5 {
    font-size: 18px;
    width: 88%;
    margin: 0 auto;
    background-image: none;
    margin-top: 13px; }
  main section:nth-child(5) .title {
    font-size: 15px;
    width: 80%;
    margin-left: 38px; }
  main section:nth-child(5) #compo3, main section:nth-child(5) #poissonsdemer {
    margin-bottom: 0px; }

  main section:nth-child(6) h4.menudevice {
    font-size: 40px; }
  main section:nth-child(6) h2 {
    font-size: 20px;
    margin-bottom: 30px; }
  main section:nth-child(6) p {
    font-size: 12px; }
  main section:nth-child(6) ul li {
    font-size: 10px; }

  main section:last-child h4.menudevice {
    font-size: 40px; }
  main section:last-child h4 {
    margin-top: 20px;
    font-size: 20px; }
  main section:last-child h2 {
    font-size: 20px;
    margin-bottom: 30px; }
  main section:last-child p {
    font-size: 12px; }
  main section:last-child ul li {
    font-size: 10px; }

  footer {
    height: 290px;
    margin-top: -60px; }
    footer .form-newsletter {
      margin-right: 11px; }
      footer .form-newsletter label {
        margin-right: 0; }
    footer a.btn {
      padding: 8% 13%; }
    footer img {
      margin-top: 20px; } }

/*# sourceMappingURL=menu.css.map */
